<h4 class="styleguide__sub-title">Fieldset</h4>
<small>{{ sassPaths.atoms }}form-elements/_fieldset.scss</small>
<br/><br/>

<form class="m-form">
	<div class="m-form__body">
		<fieldset>
			<div class="m-form__header">
				<h5 class="m-form__title">This is a form title</h5>
				<small class="m-form__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium rerum ducimus, laborum fugiat enim quod architecto autem non fuga official.</small>
			</div>

			<div class="m-form__col">
					<div class="m-form__group m-form__group--full">
						[INSERT INPUT]
					</div>
				</div>

				<div class="m-form__col">
					<div class="m-form__group m-form__group--full">
						[INSERT INPUT]
					</div>
				</div>

				<div class="m-form__col">
					<div class="m-form__group m-form__group--full">
						[INSERT INPUT]
					</div>
				</div>
		</fieldset>

		<fieldset>
			<div class="m-form__header">
				<h5 class="m-form__title">This is a form title</h5>
				<small class="m-form__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium rerum ducimus, laborum fugiat enim quod architecto autem non fuga official.</small>
			</div>

			<div class="m-form__col">
				<div class="m-form__group m-form__group--full">
					[INSERT INPUT]
				</div>
			</div>

			<div class="m-form__col">
				<div class="m-form__group m-form__group--full">
					[INSERT INPUT]
				</div>
			</div>

			<div class="m-form__col">
				<div class="m-form__group m-form__group--full">
					[INSERT INPUT]
				</div>
			</div>
		</fieldset>
	</div>
</form>

<div class="styleguide__highlight-box u-margin-bottom-lg">
	<code class="js-encode-html">
		<form class="m-form">
			<div class="m-form__body">
				<form class="m-form">
					<div class="m-form__body">
						<fieldset>
							<div class="m-form__header">
								<h5 class="m-form__title">This is a form title</h5>
								<small class="m-form__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium rerum ducimus, laborum fugiat enim quod architecto autem non fuga official.</small>
							</div>

							<div class="m-form__col">
									<div class="m-form__group m-form__group--full">
										[INSERT INPUT]
									</div>
								</div>

								<div class="m-form__col">
									<div class="m-form__group m-form__group--full">
										[INSERT INPUT]
									</div>
								</div>

								<div class="m-form__col">
									<div class="m-form__group m-form__group--full">
										[INSERT INPUT]
									</div>
								</div>
						</fieldset>

						<fieldset>
							<div class="m-form__header">
								<h5 class="m-form__title">This is a form title</h5>
								<small class="m-form__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium rerum ducimus, laborum fugiat enim quod architecto autem non fuga official.</small>
							</div>

							<div class="m-form__col">
								<div class="m-form__group m-form__group--full">
									[INSERT INPUT]
								</div>
							</div>

							<div class="m-form__col">
								<div class="m-form__group m-form__group--full">
									[INSERT INPUT]
								</div>
							</div>

							<div class="m-form__col">
								<div class="m-form__group m-form__group--full">
									[INSERT INPUT]
								</div>
							</div>
						</fieldset>
					</div>
				</form>
			</div>
		</form>
	</code>
</div>
