<div class="search">
  <div class="a-input u-margin-bottom">
    <div class="a-input__field-holder">
      <input type="text" name="input-text" id="input-text" placeholder="Search for your favorite movies, shows, music or books" />
    </div>
  </div>
</div>
