// -------------------------------------------------------------------
// :: FLEXBOX GRID
// -------------------------------------------------------------------

.u-row .m-card {
	height: 100%;
}


// -------------------------------------------------------------------
// :: FLEXBOX ROW
// -------------------------------------------------------------------

.u-row {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
	justify-content: center;
	@include at($screen-md) {
	justify-content: flex-start
	}
}

.u-row + .u-row {
	margin-top: 20px;
}

.u-row {
	margin-bottom: -20px;

	[class*="col-"] {
		margin-bottom: 20px;
	}
}

.u-row.reverse {
	flex-direction: row-reverse;
}

.u-col.reverse {
	flex-direction: column-reverse;
}


// -------------------------------------------------------------------
// :: FLEXBOX COLUMNS
// -------------------------------------------------------------------

.u-col-xs,
.u-col-xs-1,
.u-col-xs-2,
.u-col-xs-3,
.u-col-xs-4,
.u-col-xs-5,
.u-col-xs-6,
.u-col-xs-7,
.u-col-xs-8,
.u-col-xs-9,
.u-col-xs-10,
.u-col-xs-11,
.u-col-xs-12 {
	box-sizing: border-box;
	flex: 0 0 auto;
	padding-right: 10px;
	padding-left: 10px;
}

.u-col-xs {
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
}

.u-col-xs-1 {
	flex-basis: 8.333%;
	max-width: 8.333%;
}

.u-col-xs-2 {
	flex-basis: 16.667%;
	max-width: 16.667%;
}

.u-col-xs-3 {
	flex-basis: 25%;
	max-width: 25%;
}

.u-col-xs-4 {
	flex-basis: 33.333%;
	max-width: 33.333%;
}

.u-col-xs-5 {
	flex-basis: 41.667%;
	max-width: 41.667%;
}

.u-col-xs-6 {
	flex-basis: 50%;
	max-width: 50%;
}

.u-col-xs-7 {
	flex-basis: 58.333%;
	max-width: 58.333%;
}

.u-col-xs-8 {
	flex-basis: 66.667%;
	max-width: 66.667%;
}

.u-col-xs-9 {
	flex-basis: 75%;
	max-width: 75%;
}

.u-col-xs-10 {
	flex-basis: 83.333%;
	max-width: 83.333%;
}

.u-col-xs-11 {
	flex-basis: 91.667%;
	max-width: 91.667%;
}

.u-col-xs-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.u-col-xs-offset-1 {
	margin-left: 8.333%;
}

.u-col-xs-offset-2 {
	margin-left: 16.667%;
}

.u-col-xs-offset-3 {
	margin-left: 25%;
}

.u-col-xs-offset-4 {
	margin-left: 33.333%;
}

.u-col-xs-offset-5 {
	margin-left: 41.667%;
}

.u-col-xs-offset-6 {
	margin-left: 50%;
}

.u-col-xs-offset-7 {
	margin-left: 58.333%;
}

.u-col-xs-offset-8 {
	margin-left: 66.667%;
}

.u-col-xs-offset-9 {
	margin-left: 75%;
}

.u-col-xs-offset-10 {
	margin-left: 83.333%;
}

.u-col-xs-offset-11 {
	margin-left: 91.667%;
}

.u-start-xs {
	justify-content: flex-start;
	text-align: start;
}

.u-center-xs {
	justify-content: center;
	text-align: center;
}

.u-end-xs {
	justify-content: flex-end;
	text-align: end;
}

.u-top-xs {
	align-items: flex-start;
}

.u-middle-xs {
	align-items: center;
}

.u-bottom-xs {
	align-items: flex-end;
}

.u-around-xs {
	justify-content: space-around;
}

.u-between-xs {
	justify-content: space-between;
}

.u-first-xs {
	order: -1;
}

.u-last-xs {
	order: 1;
}

@media only screen and (min-width: $screen-sm) {
	.u-col-sm,
	.u-col-sm-1,
	.u-col-sm-2,
	.u-col-sm-3,
	.u-col-sm-4,
	.u-col-sm-5,
	.u-col-sm-6,
	.u-col-sm-7,
	.u-col-sm-8,
	.u-col-sm-9,
	.u-col-sm-10,
	.u-col-sm-11,
	.u-col-sm-12 {
		box-sizing: border-box;
		flex: 0 0 auto;
		padding-right: 10px;
		padding-left: 10px;
	}

	.u-col-sm {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}

	.u-col-sm-1 {
		flex-basis: 8.333%;
		max-width: 8.333%;
	}

	.u-col-sm-2 {
		flex-basis: 16.667%;
		max-width: 16.667%;
	}

	.u-col-sm-3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.u-col-sm-4 {
		flex-basis: 33.333%;
		max-width: 33.333%;
	}

	.u-col-sm-5 {
		flex-basis: 41.667%;
		max-width: 41.667%;
	}

	.u-col-sm-6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.u-col-sm-7 {
		flex-basis: 58.333%;
		max-width: 58.333%;
	}

	.u-col-sm-8 {
		flex-basis: 66.667%;
		max-width: 66.667%;
	}

	.u-col-sm-9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.u-col-sm-10 {
		flex-basis: 83.333%;
		max-width: 83.333%;
	}

	.u-col-sm-11 {
		flex-basis: 91.667%;
		max-width: 91.667%;
	}

	.u-col-sm-12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	.u-col-sm-offset-1 {
		margin-left: 8.333%;
	}

	.u-col-sm-offset-2 {
		margin-left: 16.667%;
	}

	.u-col-sm-offset-3 {
		margin-left: 25%;
	}

	.u-col-sm-offset-4 {
		margin-left: 33.333%;
	}

	.u-col-sm-offset-5 {
		margin-left: 41.667%;
	}

	.u-col-sm-offset-6 {
		margin-left: 50%;
	}

	.u-col-sm-offset-7 {
		margin-left: 58.333%;
	}

	.u-col-sm-offset-8 {
		margin-left: 66.667%;
	}

	.u-col-sm-offset-9 {
		margin-left: 75%;
	}

	.u-col-sm-offset-10 {
		margin-left: 83.333%;
	}

	.u-col-sm-offset-11 {
		margin-left: 91.667%;
	}

	.u-start-sm {
		justify-content: flex-start;
		text-align: start;
	}

	.u-center-sm {
		justify-content: center;
		text-align: center;
	}

	.u-end-sm {
		justify-content: flex-end;
		text-align: end;
	}

	.u-top-sm {
		align-items: flex-start;
	}

	.u-middle-sm {
		align-items: center;
	}

	.u-bottom-sm {
		align-items: flex-end;
	}

	.u-around-sm {
		justify-content: space-around;
	}

	.u-between-sm {
		justify-content: space-between;
	}

	.u-first-sm {
		order: -1;
	}

	.u-last-sm {
		order: 1;
	}
}

@media only screen and (min-width: $screen-md) {
	.u-col-md,
	.u-col-md-1,
	.u-col-md-2,
	.u-col-md-3,
	.u-col-md-4,
	.u-col-md-5,
	.u-col-md-6,
	.u-col-md-7,
	.u-col-md-8,
	.u-col-md-9,
	.u-col-md-10,
	.u-col-md-11,
	.u-col-md-12 {
		box-sizing: border-box;
		flex: 0 0 auto;
		padding-right: 10px;
		padding-left: 10px;
	}

	.u-col-md {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}

	.u-col-md-1 {
		flex-basis: 8.333%;
		max-width: 8.333%;
	}

	.u-col-md-2 {
		flex-basis: 16.667%;
		max-width: 16.667%;
	}

	.u-col-md-3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.u-col-md-4 {
		flex-basis: 33.333%;
		max-width: 33.333%;
	}

	.u-col-md-5 {
		flex-basis: 41.667%;
		max-width: 41.667%;
	}

	.u-col-md-6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.u-col-md-7 {
		flex-basis: 58.333%;
		max-width: 58.333%;
	}

	.u-col-md-8 {
		flex-basis: 66.667%;
		max-width: 66.667%;
	}

	.u-col-md-9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.u-col-md-10 {
		flex-basis: 83.333%;
		max-width: 83.333%;
	}

	.u-col-md-11 {
		flex-basis: 91.667%;
		max-width: 91.667%;
	}

	.u-col-md-12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	.u-col-md-offset-1 {
		margin-left: 8.333%;
	}

	.u-col-md-offset-2 {
		margin-left: 16.667%;
	}

	.u-col-md-offset-3 {
		margin-left: 25%;
	}

	.u-col-md-offset-4 {
		margin-left: 33.333%;
	}

	.u-col-md-offset-5 {
		margin-left: 41.667%;
	}

	.u-col-md-offset-6 {
		margin-left: 50%;
	}

	.u-col-md-offset-7 {
		margin-left: 58.333%;
	}

	.u-col-md-offset-8 {
		margin-left: 66.667%;
	}

	.u-col-md-offset-9 {
		margin-left: 75%;
	}

	.u-col-md-offset-10 {
		margin-left: 83.333%;
	}

	.u-col-md-offset-11 {
		margin-left: 91.667%;
	}

	.u-start-md {
		justify-content: flex-start;
		text-align: start;
	}

	.u-center-md {
		justify-content: center;
		text-align: center;
	}

	.u-end-md {
		justify-content: flex-end;
		text-align: end;
	}

	.u-top-md {
		align-items: flex-start;
	}

	.u-middle-md {
		align-items: center;
	}

	.u-bottom-md {
		align-items: flex-end;
	}

	.u-around-md {
		justify-content: space-around;
	}

	.u-between-md {
		justify-content: space-between;
	}

	.u-first-md {
		order: -1;
	}

	.u-last-md {
		order: 1;
	}
}

@media only screen and (min-width: $screen-lg) {
	.u-col-lg,
	.u-col-lg-1,
	.u-col-lg-2,
	.u-col-lg-3,
	.u-col-lg-4,
	.u-col-lg-5,
	.u-col-lg-6,
	.u-col-lg-7,
	.u-col-lg-8,
	.u-col-lg-9,
	.u-col-lg-10,
	.u-col-lg-11,
	.u-col-lg-12 {
		box-sizing: border-box;
		flex: 0 0 auto;
		padding-right: 10px;
		padding-left: 10px;
	}

	.u-col-lg {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}

	.u-col-lg-1 {
		flex-basis: 8.333%;
		max-width: 8.333%;
	}

	.u-col-lg-2 {
		flex-basis: 16.667%;
		max-width: 16.667%;
	}

	.u-col-lg-3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.u-col-lg-4 {
		flex-basis: 33.333%;
		max-width: 33.333%;
	}

	.u-col-lg-5 {
		flex-basis: 41.667%;
		max-width: 41.667%;
	}

	.u-col-lg-6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.u-col-lg-7 {
		flex-basis: 58.333%;
		max-width: 58.333%;
	}

	.u-col-lg-8 {
		flex-basis: 66.667%;
		max-width: 66.667%;
	}

	.u-col-lg-9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.u-col-lg-10 {
		flex-basis: 83.333%;
		max-width: 83.333%;
	}

	.u-col-lg-11 {
		flex-basis: 91.667%;
		max-width: 91.667%;
	}

	.u-col-lg-12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	.u-col-lg-offset-1 {
		margin-left: 8.333%;
	}

	.u-col-lg-offset-2 {
		margin-left: 16.667%;
	}

	.u-col-lg-offset-3 {
		margin-left: 25%;
	}

	.u-col-lg-offset-4 {
		margin-left: 33.333%;
	}

	.u-col-lg-offset-5 {
		margin-left: 41.667%;
	}

	.u-col-lg-offset-6 {
		margin-left: 50%;
	}

	.u-col-lg-offset-7 {
		margin-left: 58.333%;
	}

	.u-col-lg-offset-8 {
		margin-left: 66.667%;
	}

	.u-col-lg-offset-9 {
		margin-left: 75%;
	}

	.u-col-lg-offset-10 {
		margin-left: 83.333%;
	}

	.u-col-lg-offset-11 {
		margin-left: 91.667%;
	}

	.u-start-lg {
		justify-content: flex-start;
		text-align: start;
	}

	.u-center-lg {
		justify-content: center;
		text-align: center;
	}

	.u-end-lg {
		justify-content: flex-end;
		text-align: end;
	}

	.u-top-lg {
		align-items: flex-start;
	}

	.u-middle-lg {
		align-items: center;
	}

	.u-bottom-lg {
		align-items: flex-end;
	}

	.u-around-lg {
		justify-content: space-around;
	}

	.u-between-lg {
		justify-content: space-between;
	}

	.u-first-lg {
		order: -1;
	}

	.u-last-lg {
		order: 1;
	}
}
