// -------------------------------------------------------------------
// :: LIST HELPERS
// -------------------------------------------------------------------


// -------------------------------------------------------------------
// :: LIST WITHOUT STANDARD LIST STYLING
// -------------------------------------------------------------------

%u-list-unstyled {
	padding: 0;

	list-style: none;
}

.u-list-unstyled {
	@extend %u-list-unstyled;

	ul,
	ol {
		list-style: none;
	}
}
