// -------------------------------------------------------------------
// :: SPACING
// -------------------------------------------------------------------
// Helper classes for adding or removing space between elements


// -------------------------------------------------------------------
// :: MARGIN
// -------------------------------------------------------------------

.u-margin-lg {
	margin: rem(30px) !important;
}

.u-margin {
	margin: rem(20px) !important;
}

.u-margin-sm {
	margin: rem(10px) !important;
}

.u-margin-xs {
	margin: rem(5px) !important;
}

.u-no-margin {
	margin: 0 !important;
}


// -------------------------------------------------------------------
// :: MARGIN TOP
// -------------------------------------------------------------------

.u-margin-top-lg {
	margin-top: rem(30px) !important;
}

.u-margin-top {
	margin-top: rem(20px) !important;
}

.u-margin-top-sm {
	margin-top: rem(10px) !important;
}

.u-margin-top-xs {
	margin-top: rem(5px) !important;
}

.u-no-margin-top {
	margin-top: 0 !important;
}


// -------------------------------------------------------------------
// :: MARGIN RIGHT
// -------------------------------------------------------------------

.u-margin-right-lg {
	margin-right: rem(30px) !important;
}

.u-margin-right {
	margin-right: rem(20px) !important;
}

.u-margin-right-sm {
	margin-right: rem(10px) !important;
}

.u-margin-right-xs {
	margin-right: rem(5px) !important;
}

.u-no-margin-right {
	margin-right: 0 !important;
}


// -------------------------------------------------------------------
// :: MARGIN BOTTOM
// -------------------------------------------------------------------

.u-margin-bottom-lg {
	margin-bottom: rem(30px) !important;
}

.u-margin-bottom {
	margin-bottom: rem(20px) !important;
}

.u-margin-bottom-sm {
	margin-bottom: rem(10px) !important;
}

.u-margin-bottom-xs {
	margin-bottom: rem(5px) !important;
}

.u-no-margin-bottom {
	margin-bottom: 0 !important;
}


// -------------------------------------------------------------------
// :: MARGIN LEFT
// -------------------------------------------------------------------

.u-margin-left-lg {
	margin-left: rem(30px) !important;
}

.u-margin-left {
	margin-left: rem(20px) !important;
}

.u-margin-left-sm {
	margin-left: rem(10px) !important;
}

.u-margin-left-xs {
	margin-left: rem(5px) !important;
}

.u-no-margin-left {
	margin-left: 0 !important;
}
