// -------------------------------------------------------------------
// :: TEXT HELPERES
// -------------------------------------------------------------------


// -------------------------------------------------------------------
// :: TEXT STYLE CLASSES
// -------------------------------------------------------------------

.u-text-italic {
	font-style: italic;
}

.u-text-underline {
	text-decoration: underline;
}

.u-text-meta {
	font-style: italic;
	font-size: rem($font-size-xs);
	line-height: rem($line-height-xs);

	color: $text-color-light;
}


// -------------------------------------------------------------------
// :: TEXT WEIGHT CLASSES
// -------------------------------------------------------------------

.u-text-medium {
	font-weight: $font-weight-medium;
}


// -------------------------------------------------------------------
// :: TEXT ALIGNMENT CLASSES
// -------------------------------------------------------------------

.u-text-left {
	text-align: left;
}

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-text-justify {
	text-align: justify;
}


// -------------------------------------------------------------------
// :: TEXT TRANSFORMATION CLASSES
// -------------------------------------------------------------------

.u-text-lowercase {
	text-transform: lowercase;
}

.u-text-uppercase {
	text-transform: uppercase;
}

.u-text-capitalize {
	text-transform: capitalize;
}


// -------------------------------------------------------------------
// :: TEXT COLOR CLASSES
// -------------------------------------------------------------------

.u-text-primary {
	color: $primary-color !important;
}

.u-text-secondary {
	color: $secondary-color !important;
}

.u-text-success {
	color: $state-success !important;
}

.u-text-error {
	color: $state-error !important;
}

.u-text-light {
	color: $text-color-light !important;
}


// -------------------------------------------------------------------
// :: TEXT OVERFLOW CLASSES
// -------------------------------------------------------------------

%u-text-break-all {
	// For IE
	display: inline-block;

	// For Firefox
	white-space: pre-wrap;
	word-break: break-all;

	// For Chrome and IE
	word-wrap: break-word;
}

.u-text-break-all {
	@extend %u-text-break-all;
}

.u-text-break-word {
	word-wrap: break-word;
	hyphens: auto;
}

%u-text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.u-text-truncate {
	@extend %u-text-truncate;
}

.u-text-yellow {
	color: #fce205;
}

.u-text-black {
	color: $black,
}

.u-text-white {
	color: $white;
}
