// -------------------------------------------------------------------
// :: GLOBAL VARIABLES
// -------------------------------------------------------------------


// -------------------------------------------------------------------
// :: SPACER
// -------------------------------------------------------------------

$spacer:                  20px;


// -------------------------------------------------------------------
// :: BREAKPOINTS
// -------------------------------------------------------------------

$screen-xs:               480px;
$screen-xs-min:           $screen-xs;
$screen-xs-max:           $screen-xs + 1px;

$screen-sm:               720px;
$screen-sm-min:           $screen-sm;
$screen-sm-max:           $screen-sm + 1px;

$screen-md:               992px;
$screen-md-min:           $screen-md;
$screen-md-max:           $screen-md + 1px;

$screen-lg:               1240px;
$screen-lg-min:           $screen-lg;
$screen-lg-max:           $screen-lg + 1px;


// -------------------------------------------------------------------
// :: FONT FAMILIES
// -------------------------------------------------------------------

$primary-font-family:     "Museo Sans", sans-serif;


// -------------------------------------------------------------------
// :: FONT SIZES
// -------------------------------------------------------------------

$font-size-h1:            28px;
$font-size-h2:            80px;
$font-size-h3:            24px;
$font-size-h4:            28px;
$font-size-h5:            22px;
$font-size-h6:            18px;

$font-size:               18px;
$font-size-sm:            16px;
$font-size-xs:            14px;

$icon-size-lg:            26px;
$icon-size:               20px;
$icon-size-sm:            16px;
$icon-size-xs:            14px;


// -------------------------------------------------------------------
// :: LINE HEIGTHS
// -------------------------------------------------------------------

$line-height-h1:          33px;
$line-height-h2:          48px;
$line-height-h3:          29px;
$line-height-h4:          33px;
$line-height-h5:          27px;
$line-height-h6:          24px;

$line-height:             24px;
$line-height-sm:          21px;
$line-height-xs:          14px;


// -------------------------------------------------------------------
// :: FONT WEIGHTS
// -------------------------------------------------------------------

$font-weight-light:       100;
$font-weight-normal:      300;
$font-weight-medium:      500;
$font-weight-bold:        700;
$font-weight-heavy:       900;


// -------------------------------------------------------------------
// :: COLORS
// -------------------------------------------------------------------

@import "_quarks/_colors";


// -------------------------------------------------------------------
// :: BORDERS
// -------------------------------------------------------------------

$border-radius:           0;
$border-width:            1px;

$border-light:            $border-width solid $border-color-light;
$border:                  $border-width solid $border-color;
$border-dark:             $border-width solid $border-color-dark;
$border-active:           $border-width solid $border-color-active;


// -------------------------------------------------------------------
// :: BOX-SHADOW
// -------------------------------------------------------------------

$box-shadow:              0 2px 4px 0 rgba(12, 17, 34, 0.05);
$box-shadow-md:           0 2px 7px 0 $black;
$box-shadow-lg:           0 15px 30px 0 rgba(12, 17, 34, 0.05);


// -------------------------------------------------------------------
// :: Z-INDEXES
// -------------------------------------------------------------------

$z-indexes: (
	"filters":              7,
	"header":               6,
	"toggle":               5,
	"breadcrumb":           4,
	"hero":                 3,
	"tile":                 2,
	"base":                 1,
	"auto":                 0,
	"cellar":               -1
);


// -------------------------------------------------------------------
// :: ANIMATIONS
// -------------------------------------------------------------------

$animation-duration:      250ms;
$animation-easing:        ease-in-out;
$animation-normal:        $animation-duration $animation-easing;
