.u-club__header {
    margin-bottom: 20px;

    padding-bottom: 50px;
    border-bottom: 0.1px solid $gray;

    @include at($screen-sm) {
        margin-bottom: 50px;

        padding-bottom: 100px;
        border-bottom: 0.1px solid $gray;
    }
}

.u-club__recent {
    h1 {
        margin-bottom: 30px;
    }
    margin-bottom: 20px;

    padding-bottom: 50px;
    border-bottom: 0.1px solid $gray;

    @include at($screen-sm) {
        margin-bottom: 50px;

        padding-bottom: 100px;
        border-bottom: 0.1px solid $gray;
    }
}

.u-club__users {
    .a-button--full {
        &:hover {
            background-color: $yellow;
            span {
                color: $black;
            }
        }
        background-color: $black;
        span {
            color: $white;
        }
    }
    h1 {
        margin-bottom: 30px;
    }

    margin-bottom: 50px;

    padding-bottom: 50px;
    border-bottom: 0.1px solid $gray;

    @include at($screen-sm) {
        margin-bottom: 50px;

        padding-bottom: 100px;
        border-bottom: 0.1px solid $gray;
    }
}

.u-club__users__images {
    .a-button--full {
        &:hover {
            background-color: $yellow;
            span {
                color: $black;
            }
        }
        background-color: $black;
        span {
            color: $white;
        }
    }
    @include at($screen-sm) {
        margin-left: 0;
        .figure {
            width: 250px;
            height: 170px;
            z-index: 99999;
            position: relative;
        }
    }
    a {
        margin-right: 10px;
        margin-bottom: 30px;
        position: relative;
    }
    .figure {
        width: 100%;
        height: 100%;
        position: relative;
        @include at($screen-xs) {
                width: 230px;
                height: 170px;
                z-index: 99999;
                position: relative;
        }
    }
    small {
        padding: 5px;
        width: 100%;
        background-color: $red;
        font-weight: $font-weight-medium;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;

        @include at($screen-sm) {
            visibility: hidden;
        
        }
    }
    a:hover {

        small {
            
            color: $white;
            visibility: visible;
        }
    }

    a {
        margin-right: 10px;
        margin-top: 10px;
        width: 100px;
        height: 100px;
    
      }
    
      .rm-user {
          position: absolute!important;
          color: $white;
          background-color: $red;
          border: none;
          border-radius: 50%;
          right: 0;
          top: 0;
          z-index: 99999999989;
          span {
              font-size: .6em;
            width: 5px;
            height: 5px;
          }

      }
      .avatar--container {
          position: relative;
      }

}




.u-club__users__images--small {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 50%;  /* Rounded border */
        width: 100px; /* Set a small width */
        height: 100px;
        object-fit: cover;
}

.u-club__reviews {
        h1 {
        margin-bottom: 30px;
    }
    .a-input {
        margin-bottom: 50px;
    }
    .a-button--full {
        &:hover {
            background-color: $black;
            span {
                color: $yellow;
            }
        }
        background-color: $black;
        span {
            color: $white;
        }
    }
}

.club--icon-arrow-back {
    position: absolute;
    font-size: 3em;
    color: $gray;
    top: -100px;
}

.avatar-circle {
    width: 100px;
    height: 100px;
    background-color: $black;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
  }

  .initials {
    position: relative;
    top: 25px; /* 25% of parent */
    font-size: 40px; /* 50% of parent */
    line-height: 50px; /* 50% of parent */
    color: $white;
    font-weight: bold;
    pointer-events: none;
  }