// -------------------------------------------------------------------
// :: DRAWER GRID
// -------------------------------------------------------------------

.o-drawer-list .m-drawer:not(:last-child) {
	margin-bottom: $spacer / 2;

	@include at($screen-sm) {
		margin-bottom: $spacer;
	}
}

// -------------------------------------------------------------------
// :: DRAWER ELEMENTS
// -------------------------------------------------------------------

.o-drawer-list__toggle {
	display: block;
	float: right;

	cursor: pointer;

	margin-bottom: rem(10px);

	@include at($screen-sm) {
		margin-bottom: rem(20px);
	}
}
