// -------------------------------------------------------------------
// :: HEADER
// -------------------------------------------------------------------

$header-shadow: 0 3px 10px 0 rgba(12, 17, 34, 0.05);

.o-header {
	background-color: $black;
	width: 100%;
	a {
		color: $white;
		font-weight: bold;
	}

	z-index: layer("header");
}


// -------------------------------------------------------------------
// :: HEADER ELEMENTS
// -------------------------------------------------------------------

.o-header__action-bar {
	font-size: rem($font-size-sm);
	line-height: rem($line-height-sm);

	background-color: $primary-color;
}

.o-header__inner {
	position: relative;

	max-width: $screen-lg;

	margin-right: auto;
	margin-left: auto;
	padding-left: rem(20px);
}

.o-header__bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: rem(55px);

	@include at($screen-md) {
		height: rem(88px);
	}
}

.o-header__navigation {
	padding: 0 rem(20px);
}

.o-header__actions {
	overflow: hidden;
}

.o-header__menu {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: fixed;
	top: rem(55px);
	right: 0;
	bottom: 0;
	left: 0;

	background: $background-gradient;

	opacity: 0;
	visibility: hidden;

	z-index: layer("cellar");

	transition: visibility 0s $animation-duration $animation-easing, opacity $animation-normal;
}


// -------------------------------------------------------------------
// :: HEADER MODIFIERS
// -------------------------------------------------------------------

.o-header__menu.is-open {
	opacity: 1;
	visibility: visible;

	transition-delay: 0s;
}
