// -------------------------------------------------------------------
// :: HERO
// -------------------------------------------------------------------

.o-hero {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: 100%;

	background-color: $white;

	.o-hero__image:before {
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
	}
}

.o-hero__node {
	height: 200px!important;
}

.o-hero__club {
	height: 400px!important;
}



// -------------------------------------------------------------------
// :: HERO ELEMENTS
// -------------------------------------------------------------------

.o-hero__image {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.o-hero__inner {
	display: flex;
	position: relative;

	min-height: rem(215px);

	z-index: layer("hero");

	@include at($screen-sm) {
		min-height: rem(280px);
	}

	@include at($screen-md) {
		min-height: rem(335px);
	}
}

.o-hero__container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -100px;
	padding-top: rem(40px);
	padding-bottom: rem(40px);
}

.o-hero__title {
	display: flex;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.o-hero__content {
	width: 100%;
}

.o-hero__title,
.o-hero__text {
	color: $white;
}

.o-hero__title {
	max-width: rem(450px);

	@include at($screen-md) {
		max-width: rem(580px);
	}
}

.o-hero__text {
	max-width: rem(450px);

	margin-top: rem(5px);

	font-weight: $font-weight-medium;

	@include at($screen-sm) {
		margin-top: rem(15px);

		font-size: rem($font-size-h5);
		line-height: rem($line-height-h5);
	}

	@include at($screen-md) {
		max-width: rem(580px);
	}
}

.o-hero__button {
	margin-top: rem(20px);

	@include to($screen-sm) {
		width: 100%;
	}

	@include at($screen-sm) {
		margin-top: rem(25px);
	}
}

.o-hero__breadcrumb {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;

	z-index: layer("breadcrumb");
}


// -------------------------------------------------------------------
// :: HERO MODIFIERS
// -------------------------------------------------------------------

.o-hero.has-breadcrumb .o-hero__container {
	padding-top: rem(80px);
}

.o-hero.o-hero--sm .o-hero__inner {

	@include at($screen-md) {
		min-height: rem(280px);
	}
}

.o-hero.o-hero--centered {
	overflow: hidden;

	&:not(.o-hero--light) .o-hero__title {

		@include at($screen-sm) {
			font-size: rem($font-size-h2);
			line-height: rem($line-height-h2);
		}
	}

	.o-hero__title,
	.o-hero__text {
		margin-right: auto;
		margin-left: auto;

		text-align: center;
	}

	.o-hero__button {

		@include at($screen-xs) {
			display: block;

			margin-right: auto;
			margin-left: auto;
		}
	}

	.o-hero__title + *:not(.o-hero__text) {
		margin-top: rem(30px);
	}
}

.o-hero.o-hero--light {

	.o-hero__title,
	.o-hero__text {
		color: $text-color;
	}
}

.o-hero.o-hero--with-pattern {
	position: relative;
	overflow: hidden;

	&:before {
		content: "";

		position: absolute;
		top: rem(-1000px);
		right: rem(-1000px);
		bottom: rem(-1000px);
		left: rem(-1000px);

		background: url("../img/patterns/pattern-gray.svg");

		transform: rotate(-315deg);
	}

	&:after {
		content: "";

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-image: linear-gradient(-75deg, $white 65%, transparent 0);

		z-index: layer("auto");
	}

	.o-hero__image {
		display: none;
	}
}
.o-hero {
	.hero-full {
		height: 100vh;
	}

	.o-hero__inner {
		height: 100vh;
	}
	height: 100vh;



}
