// -------------------------------------------------------------------
// :: MIGRATED CONTENT
// -------------------------------------------------------------------

.o-migrated-content {

	// FIELD ITEM
	.field {

		h2 {
			font-weight: $font-weight-bold;
			font-size: rem($font-size);
			line-height: rem($line-height);

			@include at($screen-sm) {
				font-size: rem($font-size-h3);
				line-height: rem($line-height-h3);
			}
		}

		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6 {

			+ * {
				margin-top: rem(20px);
			}
		}

		> p + * ,
		> ul + *,
		> table + * {
			margin-top: rem(20px);

			@include at($screen-sm) {
				margin-top: rem(30px);
			}
		}

		> img + *,
		> div:not(.collapsible_field) + * {
			margin-top: rem(20px);

			@include at($screen-sm) {
				margin-top: rem(40px);
			}
		}

		> iframe + * {
			margin-top: rem(20px);

			@include at($screen-sm) {
				margin-top: rem(30px);
			}
		}
	}

	// COLLAPSABLE ITEM
	#collapseAllContainers { // sass-lint:disable-line no-ids
		padding-left: 5px;
	}

	#collapseAllContainers, // sass-lint:disable-line no-ids
	#expandAllContainers { // sass-lint:disable-line no-ids
		float: right;

		text-decoration: underline;

		color: $primary-color;

		cursor: pointer;

		margin-bottom: rem(10px);

		@include at($screen-sm) {
			margin-bottom: rem(20px);
		}

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	.collapsible_field {

		+ .collapsible_field {
			margin-top: $spacer / 2;

			@include at($screen-sm) {
				margin-top: $spacer;
			}
		}

		+ *:not(.collapsible_field) {
			margin-top: rem(20px);

			@include at($screen-sm) {
				margin-top: rem(40px);
			}
		}
	}

	.collapsible_field .title {
		@extend .icon-arrow-down; // sass-lint:disable-line placeholder-in-extend

		display: block;
		vertical-align: middle;
		overflow: hidden;
		position: relative;

		width: 100%;

		margin: 0;
		padding: rem(20px) rem(45px) rem(20px) rem(20px);

		text-align: left;
		font-weight: $font-weight-bold;
		font-size: rem($font-size);
		line-height: rem($line-height);

		background-color: $background-color;
		border: none;
		border-radius: 0;

		transition-duration: $animation-duration;
		transition-property: color, background-color;
		transition-timing-function: $animation-easing;

		outline: none;
		user-select: none;

		cursor: pointer;

		@include at($screen-xs) {
			padding: rem(30px) rem(65px) rem(30px) rem(30px);
		}

		@include at($screen-sm) {
			font-size: rem($font-size-h3);
			line-height: rem($line-height-h3);
		}

		&:before {
			display: block;
			position: absolute;
			top: rem(24px);
			right: rem(20px);

			color: inherit;

			transition: transform $animation-normal;

			@include at($screen-xs) {
				top: rem(32px);
			}

			@include at($screen-sm) {
				right: rem(30px);

				font-size: rem(24px);
			}
		}
	}

	.collapsible_field .title {

		&.ui-state-active,
		&:hover,
		&:focus {
			color: $white;
			background-color: $primary-color;
		}

		&.ui-state-active:before {
			transform: rotate(180deg);
		}
	}

	.collapsible_field .container {
		padding: rem(20px);

		background-color: $background-color-light;

		@include at($screen-sm) {
			padding: rem(30px);
		}
	}

	table {
		width: 100% !important;

		background-color: $white;
		border: none;
		border-spacing: 0;
		border-collapse: collapse;

		table-layout: fixed;

		thead {
			color: $white;
			background-color: $primary-color;
		}

		th {
			font-weight: $font-weight-bold;
		}

		tbody tr {
			background-color: $white;

			border: 1px solid $border-color;
		}

		th,
		td {
			width: auto !important;

			padding: rem(20px);

			text-align: left;

			@include at($screen-sm) {
				padding: rem(28px);
			}

			a {
				word-break: break-all;
			}
		}
	}

	iframe {
		display: block;

		max-width: 100%;

		margin-right: auto;
		margin-left: auto;
	}
}
