.u-header__title {
    margin-top: 10px;
    text-align: center;
    h2 {
        font-size: 3em;
    }
}

.form-container {
    .a-input input {
        color: $white!important;
    }
    @include at($screen-md) {
    width: 40%;
        
    }
}

.u-container__form {
    margin-top: 0px;
    background-color: $black;
    h1 {
        color: $white;
    }

    .a-input__label {
        color: $white;
    }
    section {
        margin-top: 100px;
        color: $white;
        h3 {
            color: $white;
        }
    }
}

.u-main__form {
    background-color: $black!important;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
}