// -------------------------------------------------------------------
// :: LAYOUT MIXINS
// -------------------------------------------------------------------
// Custom mixins to make standard behaviour & css more modular


// -------------------------------------------------------------------
// :: CLEARFIX
// -------------------------------------------------------------------
// Clear float that can be applied to an element where all the childeren are floated.

@mixin clearfix {

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

// -------------------------------------------------------------------
// :: SPREAD
// -------------------------------------------------------------------
// Forces an element to take up the entire space of it's parent.

@mixin spread() {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

@mixin transform($value...) {
	-webkit-transform: $value;
	-ms-transform: $value;
	transform: $value;
}
