// -------------------------------------------------------------------
// :: BLOCK
// -------------------------------------------------------------------

.m-block__book {
	position: relative;
	@extend %u-link-unstyled;
	margin: 4px;
	overflow: hidden;
	display: block;
	height: 350px;
	//padding: rem(25px) rem(15px);
	width: 70%;
	color: #f6f7f8;
	background-color: $black;
	box-shadow: $box-shadow-lg;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	h1 {
		font-size: 1em;
	}
	p {
		font-size: 0.8em;
	}
	transition-duration: $animation-duration;
	transition-property: color, background-color;
	transition-timing-function: $animation-easing;

	@include at($screen-md) {
		height: 350px;
		//padding: rem(25px) rem(15px);
		width: 19%!important;
	}

	@include at($screen-sm) {
		min-height: rem(200px);
		width: 19%;
		//padding: rem(30px) rem(30px) rem(40px);

		text-align: left;
	}

	@include at($screen-xs) {
		min-height: rem(200px);
		width: 40%;
		//padding: rem(30px) rem(30px) rem(40px);

		text-align: left;
	}

	&.is-active,
	&:hover,
	&:focus {
		padding: rem(25px) rem(15px);
		img {
			visibility: hidden;
		}
		color: $white;
		background-color: $black;

		.m-block__link {
			color: $white;
		}
		.m-block__passed {
			color: $black;
		}

		small {
			color: $black;
		}
	}
}

.m-block {
	position: relative;
	@extend %u-link-unstyled;
	margin: 4px;
	overflow: hidden;
	display: block;
	height: 100%;
	padding: rem(25px) rem(15px);
	width: 100%;
	color: $black;
	background-color: #f6f7f8;
	box-shadow: $box-shadow-lg;

	h1 {
		font-size: 1em;
	}
	p {
		font-size: 0.8em;
	}
	transition-duration: $animation-duration;
	transition-property: color, background-color;
	transition-timing-function: $animation-easing;

	@include at($screen-xs) {
		padding: rem(30px) rem(20px);
	}

	@include at($screen-sm) {
		min-height: rem(200px);

		padding: rem(30px) rem(30px) rem(40px);

		text-align: left;
	}

	/*&.is-active,
	&:hover,
	&:focus {
		color: $black;
		background-color: $yellow;

		.m-block__link {
			color: $white;
		}
		.m-block__passed {
			color: $black;
		}

		small {
			color: $black;
		}
	} */
}




.m-block--request {
	position: relative;
	@extend %u-link-unstyled;
	margin: 4px;
	overflow: hidden;
	display: block;
	height: 100%;
	padding: rem(25px) rem(15px);
	width: 100%;
	color: $black;
	background-color: #f6f7f8;
	box-shadow: $box-shadow-lg;

	h1 {
		font-size: 1em;
	}
	p {
		font-size: 0.8em;
	}
	transition-duration: $animation-duration;
	transition-property: color, background-color;
	transition-timing-function: $animation-easing;

	@include at($screen-xs) {
		padding: rem(30px) rem(20px);
	}

	@include at($screen-sm) {

		padding: rem(30px) rem(30px) rem(40px);

		text-align: left;
	}

}


// -------------------------------------------------------------------
// :: BLOCK ELEMENTS
// -------------------------------------------------------------------

.m-block--buttons {
	@include at($screen-sm){
		position: absolute;
		right: 20px;
	}
}

.m-block__title {
	hyphens: auto;
	word-break: break-word;
}

.m-block__text {
	margin-top: rem(15px);

	@include at($screen-sm) {
		margin-top: rem(10px);
	}
}

.m-block__link {
	margin-top: rem(20px);

	@include at($screen-sm) {
		margin-top: rem(25px);
	}
}


.m-block__deadline {
	color: $red;
}

.m-block__passed {
	color: $black;
}

.m-block__rating {
	color: $yellow;
	font-size: 1.5em;
}
.m-block__rating--negative {
	color: $gray;
	font-size: 1.5em;
}
