// -------------------------------------------------------------------
// :: NAVIGATION
// -------------------------------------------------------------------


// -------------------------------------------------------------------
// :: NAVIGATION ELEMENTS
// -------------------------------------------------------------------

.m-navigation__nav {
	@extend %u-list-unstyled;

	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: rem(88px);
}

.m-navigation__nav-item {
	position: relative;

	height: 100%;

	a {
		@extend %u-link-unstyled;

		display: block;
		position: relative;

		font-weight: $font-weight-normal;
		line-height: rem(88px);

		color: $white;

		&:hover,
		&:active,
		&:focus {
			color: $primary-color;

			&:after {
				background-color: $primary-color;
			}
		}

	}

	&.is-active a {
		color: $white;

		&:after {
			background-color: $primary-color;
		}
	}

	&:not(:last-child) {
		margin-right: rem(30px);

		@include at($screen-md) {
			margin-right: rem(50px);
		}

		@include at($screen-lg) {
			margin-right: rem(70px);
		}
	}
}
