{% set htmlParams = {
  'isStyleguide' : true,
  'bodyClass': '',
  'rootPath' : '',
  'pageName' : 'Book'
} %}
{% set sassPaths = {
  utils: '/sass/base/utils/',
  quarks: '/sass/base/_quarks/',
  atoms: '/sass/base/atoms/',
  molecules: '/sass/base/molecules/',
  organisms: '/sass/base/organisms/',
  vendor: '/vendor/'
} %}

{% include "pages/_includes/_html_head.njk" %}
  {% include "partials/header.njk" %}
  <div class="u-main">
        <div class="o-hero o-hero__club">
            <div class="o-hero__container">
                <div class="o-hero__image" style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/51jNORv6nQL._SX340_BO1,204,203,200_.jpg')">
            </div>
         </div>    

</div>
<div class="u-main">
<div class="a-alert a-alert--info">
    <div class="a-alert__inner u-container">
<p>Basic page <a href="#">page 1</a> has been created</p>
    </div>
</div>
  <div class="u-container u-section">
       <a href="book_club.html"> <span class="club--icon-arrow-back icon-arrow-back"></span></a>

        <div class="u-club__header">
        <a class="a-button a-button--secondary a-button-right" href="#">Review</a>
            <h2>The Lord Of The Rings<span class="u-text-yellow">.</span></h2>  
        </div>
            <div class="a-text-with-visual">
        <div class="a-text-with-visual__image">
          <div class="a-image">
            <img src="https://images-na.ssl-images-amazon.com/images/I/51jNORv6nQL._SX340_BO1,204,203,200_.jpg">
          </div>
        </div>

        <div class="a-text-with-visual__text">
        <h1>
        <p class="">
        <h5 class="u-margin-bottom-sm">Rating</h5>  
        <span class="u-text-yellow" style="font-size: 1.5em;">&#9733; &#9733; &#9733; &#9733; &#9733; </span> <small class="u-text-black">12 of 24 reviewed this</small>
        <br>
        <br>
        <h5 class="u-margin-bottom-sm">Summary</h5>   
        The Lord of the Rings, by J.R.R. Tolkien, tells the story of the War of the Ring in the fictional world of Middle-earth. 
        The long novel--commonly published as three volumes and mistakenly called a trilogy--centers around the magical One Ring, 
        discovered by Bilbo Baggins in the earlier novel The Hobbit. 
        Now, the free peoples of Middle-earth, such as Men, Elves, Dwarves, and Hobbits, must overcome the dark power of Sauron by destroying the Ring. </p>
        </div>
    </div>

    <div class="u-club__users u-club__users__images">
                <h1>Others that have reviewed.</h1>

    <div class="u-row">
            <a href="#">
                <div class="figure">
                    <img src="../../img/user/user_1.jpg">
                    <small>Lara Debbie</small>
                </div>
            </a>
            <a href="#">
                <div class="figure">
                    <img src="../../img/user/user_1.jpg">
                    <small>Lara Debbie</small>
                </div>
            </a>
            <a href="#">
                <div class="figure">
                    <img src="../../img/user/user_1.jpg">
                    <small>Lara Debbie</small>
                </div>
            </a>
            <a href="#">
                <div class="figure">
                    <img src="../../img/user/user_1.jpg">
                    <small>Lara Debbie</small>
                </div>
            </a>
      <a href="#">
                <div class="figure">
                    <img src="../../img/user/user_1.jpg">
                    <small>Lara Debbie</small>
                </div>
            </a>

                        <a href="#">
                <div class="figure">
                    <img src="../../img/user/user_1.jpg">
                    <small>Lara Debbie</small>
                </div>
            </a>
            <a href="#">
                <div class="figure">
                    <img src="../../img/user/user_1.jpg">
                    <small>Lara Debbie</small>
                </div>
            </a>
            <a href="#">
                <div class="figure">
                    <img src="../../img/user/user_1.jpg">
                    <small>Lara Debbie</small>
                </div>
            </a>
            <a href="#">
                <div class="figure">
                    <img src="../../img/user/user_1.jpg">
                    <small>Lara Debbie</small>
                </div>
            </a>
      <a href="#">
                <div class="figure">
                    <img src="../../img/user/user_1.jpg">
                    <small>Lara Debbie</small>
                </div>
            </a>

    </div>

            
            
        </div>


        <div class="u-club__reviews">
        <a class="a-button a-button--secondary a-button-right" href="#">Review</a>
            <h1>Reviews</h1>
 
            <div href="#" class="m-block">
                <p class="m-block__passed">27th of March, 2019</p>
                <h1 class="m-block__title">Best book ever!</h1>
                <span class="m-block__rating" style="font-size: 1.5em;">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
                <p class="m-block__text">This is by far the greatest piece of art ever written.</p>
                <br>
                <p class="m-block__text">
                <span class="u-text-italic">Written by: </span><small>Sean Bean</small>
                </p>
            </div>
            <a href="#" class="m-block">
                <p class="m-block__passed">18th of January, 2018</p>
                <h1 class="m-block__title">Must read!</h1>
                <span class="m-block__rating" style="font-size: 1.5em;">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
                <p class="m-block__text"></p>
                <br>
                <p class="m-block__text">
                <span class="u-text-italic">Written by: </span><small>Viggo Mortensen</small>
                </p>
            </a>
            <a href="#" class="m-block">
                <p class="m-block__passed">29th of August, 2018</p>
                <h1 class="m-block__title">The Bored Of The Rings.</h1>
                <span class="m-block__rating">&#9733; &#9733;</span> <span class="m-block__rating--negative">&#9733; &#9733; &#9733;</span>
                <p class="m-block__text">This is the slowest, hardest book I have ever read. Please don't waste your time on this.</p>
                <br>
                <p class="m-block__text">
                <span class="u-text-italic">Written by: </span><small>Martin Freeman</small>
                </p>
            </a>
            <a href="#" class="m-block">
                <p class="m-block__passed">11th of May, 2019</p>
                <h1 class="m-block__title">Timeless classic.</h1>
                <span class="m-block__rating" style="font-size: 1.5em;">&#9733; &#9733; &#9733; &#9733; </span><span class="m-block__rating--negative">&#9733;</span>
                <p class="m-block__text">One of the greatest of all time.</p>
                <br>
                <p class="m-block__text">
                <span class="u-text-italic">Written by: </span><small>Elijah Woods</small>
                </p>
            </a>
            <button class="a-button a-button--full">
    <span>See All Reviews</span>
</button>    
        </div>

  </div>
</div>
{% include "partials/footer.njk" %}
{% include "pages/_includes/_html_footer.njk" %}