{% set htmlParams = {
  'isStyleguide' : true,
  'bodyClass': '',
  'rootPath' : '',
  'pageName' : 'Book Club'
} %}
{% set sassPaths = {
  utils: '/sass/base/utils/',
  quarks: '/sass/base/_quarks/',
  atoms: '/sass/base/atoms/',
  molecules: '/sass/base/molecules/',
  organisms: '/sass/base/organisms/',
  vendor: '/vendor/'
} %}

{% include "pages/_includes/_html_head.njk" %}
  {% include "partials/header.njk" %}

<div class="u-main">
        <div class="o-hero o-hero__club">
            <div class="o-hero__container">
                <div class="o-hero__image" style="background-image: url('../../img/hero/hero_5.jpg')">
            </div>
         </div>    

</div>
<div class="u-main">
<div class="a-alert a-alert--transparent">
    <div class="a-alert__inner u-container">
        <ul class="a-list-inline a-list-inline--separated">
            <li>
                <button class="a-button-outline">
    <span>Add Member</span>
</button>  


            </li>
            <li>
                <button class="a-button-outline">
    <span>Add Book</span>
</button>  
            </li>
            <li>
               <button class="a-button-outline">
    <span>Settings </span>
</button> 
            </li>
        </ul>
    </div>
</div>
    <div class="u-container u-section">
<a class="a-button">qsdsd</a>

        <div class="u-club__recent">
            <h1>Coming up</h1>
            <a href="#" class="m-block__book">
            <img src="https://images-na.ssl-images-amazon.com/images/I/51jNORv6nQL._SX340_BO1,204,203,200_.jpg" alt="">
                <h1 class="m-block__title">Harry Potter</h1>
                <span class="m-block__rating" style="font-size: 1.5em;">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
                <p class="m-block__text">Harry Potter has been living an ordinary life, constantly abused by his surly and cold aunt and uncle, Vernon and Petunia Dursley and bullied by their spoiled son Dudley since the death of his parents ten years prior. His life changes on the day of his eleventh birthday when he receives a letter of acceptance into Hogwarts School of Witchcraft and Wizardry </p>
            </a>
        </div>
              <button class="a-button a-button- right a-button--secondary">
                <span>See All Books</span>
            </button> 
        <div class="u-club__users u-club__users__images ">
  
            <h1>All users</h1>
        <div class="u-row u-margin-bottom-xs">
                <div class="a-info avatar-circle a-info__icon a-icon  u-text-primary">
                    <button class="rm-user" href=""><span class="icon-close"></span></button>
                    <span class="initials">JD</span>
                    <div class="a-info__tooltip a-tooltip">
                        <p>
                            Jeremy Declerck
                        </p>
                    </div>
                </div>

                <div class="a-info avatar-circle a-info__icon a-icon  u-text-primary">
                    <button class="rm-user" href=""><span class="icon-close"></span></button>
                    <img src="../../img/user/user_1.jpg">
                    <div class="a-info__tooltip a-tooltip">
                        <p>
                            Jessica Tracy
                        </p>
                    </div>
               </div>
            </div>
        </div>

        <div class="u-club__reviews ">
            <h1>Books</h1>
            <div class="u-row u-margin-bottom-lg">
                <a href="#" class="m-block__book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51jNORv6nQL._SX340_BO1,204,203,200_.jpg" alt="">
                    <h1 class="m-block__title">Harry Potter</h1>
                    <span class="m-block__rating" style="font-size: 1.5em;">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
                    <p class="m-block__text">Harry Potter has been living an ordinary life, constantly abused by his surly and cold aunt and uncle, Vernon and Petunia Dursley and bullied by their spoiled son Dudley since the death of his parents ten years prior. His life changes on the day of his eleventh birthday when he receives a letter of acceptance into Hogwarts School of Witchcraft and Wizardry </p>
                </a>
                <a href="#" class="m-block__book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91jBdaRVqML.jpg" alt="">
                    <h1 class="m-block__title">The Lord Of The Rings</h1>
                    <span class="m-block__rating" style="font-size: 1.5em;">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
                    <p class="m-block__text">The Lord of the Rings, by J.R.R. Tolkien, tells the story of the War of the Ring in the fictional world of Middle-earth. The long novel--commonly published as three volumes and mistakenly called a trilogy--centers around the magical One Ring, discovered by Bilbo Baggins in the earlier novel The Hobbit. Now, the free peoples of Middle-earth, such as Men, Elves, Dwarves, and Hobbits, must overcome the dark power of Sauron by destroying the Ring. </p>
                </a>
                <a href="#" class="m-block__book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81l1OhxGPZL.jpg" alt="">
                    <h1 class="m-block__title">The Shining</h1>
                    <span class="m-block__rating" style="font-size: 1.5em;">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
                    <p class="m-block__text">When Jack Torrance takes the job as caretaker of the remote Overlook Hotel for the winter, he thinks it will provide the perfect setting in which to soothe damaged bonds between himself, his wife, Wendy, and his son, Danny, and to put an end to his long-lingering unfinished play. </p>
                </a>
                <a href="#" class="m-block__book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/41ED%2Bav59nL.jpg" alt="">
                    <h1 class="m-block__title">The Art Of War</h1>
                    <span class="m-block__rating" style="font-size: 1.5em;">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
                    <p class="m-block__text">The Art of War is an ancient Chinese military treatise dating from the Late Spring and Autumn Period (roughly 5th century BC). The work, which is attributed to the ancient Chinese military strategist Sun Tzu ("Master Sun", also spelled Sunzi), is composed of 13 chapters. Each one is devoted to an aspect of warfare and how it applies to military strategy and tactics.</p>
                </a>
                <a href="#" class="m-block__book">
                <img src="https://www.booktopia.com.au/http_coversbooktopiacomau/big/9780006479888/0000/a-game-of-thrones.jpg" alt="">
                    <h1 class="m-block__title">A Game Of Thrones</h1>
                    <span class="m-block__rating" style="font-size: 1.5em;">&#9733; &#9733; &#9733; &#9733; &#9733; </span>
                    <p class="m-block__text">In the Game of Thrones, you either win or you die. Nine noble families fight for control of the mythical land of Westeros. Political and sexual intrigue is pervasive. Robert Baratheon, King of Westeros, asks his old friend Eddard, Lord Stark, to serve as Hand of the King, or highest official.</p>
                </a>
            </div>
            <div class="u-text-center">
                {% include "partials/pagination.njk" %} 
            </div>
        </div>

    </div>
    <div class="u-container">
        <div class="u-club__recent">
        <div href="#" class="m-block--request">
        <div class="m-block--buttons">
                <a href="" class="a-button  a-button--secondary">cgecr</a>
                <a href="" class="a-button  a-button--secondary">Add Member</a>
        </div>

            <h3 class="m-block__title">Jeremy Declerck <small class="u-text-black"> (hjovard)</small></h3> 
        </div>
        <div href="#" class="m-block--request">
        <a href="" class="a-button a-button-right a-button--secondary">Add Member</a>
            <h3 class="m-block__title">Jeremy Declerck</h3>
        </div>
        <div href="#" class="m-block--request">
        <a href="" class="a-button a-button-right a-button--secondary">Add Member</a>
            <h3 class="m-block__title">Jeremy Declerck</h3>
        </div>
    </div>
    </div>

</div>

{% include "partials/footer.njk" %}
{% include "pages/_includes/_html_footer.njk" %}