{% set htmlParams = {
  'isStyleguide' : true,
  'bodyClass': '',
  'rootPath' : '',
  'pageName' : 'Home'
} %}
{% set sassPaths = {
  utils: '/sass/base/utils/',
  quarks: '/sass/base/_quarks/',
  atoms: '/sass/base/atoms/',
  molecules: '/sass/base/molecules/',
  organisms: '/sass/base/organisms/',
  vendor: '/vendor/'
} %}

{% include "pages/_includes/_html_head.njk" %}
  {% include "partials/header.njk" %}
<div class="u-main">
<div class="a-alert a-alert--info">
    <div class="a-alert__inner u-container">
<p>Basic page <a href="#">page 1</a> has been created</p>
    </div>
</div>
  {% include "partials/hero-centered.njk" %}
</div>
{% include "partials/footer.njk" %}
{% include "pages/_includes/_html_footer.njk" %}