{% set htmlParams = {
  'isStyleguide' : true,
  'bodyClass': '',
  'rootPath' : '',
  'pageName' : 'User Form'
} %}
{% set sassPaths = {
  utils: '/sass/base/utils/',
  quarks: '/sass/base/_quarks/',
  atoms: '/sass/base/atoms/',
  molecules: '/sass/base/molecules/',
  organisms: '/sass/base/organisms/',
  vendor: '/vendor/'
} %}

{% include "pages/_includes/_html_head.njk" %}
  {% include "partials/header.njk" %}
    <div class="u-main">
      <div class="o-hero o-hero--centered has-breadcrumb">
        <div class="o-hero__inner">
          <div class="o-hero__image" style="background-image: url('{{ htmlParams.rootPath }}img/hero/hero_7.jpg');"></div>

          <div class="o-hero__container u-container">
            <div class="o-hero__content">
              <div class="u-introduction">
                <div class="u-container">
                <div class="form-container">
                                    <h1>Log in<span class="u-text-yellow">.</span></h1>
                        <div class="a-input u-margin-top-lg">
                            <div class="a-input__field-holder">
                                <input type="text"  placeholder="Enter your Username">
                            </div>
                        </div> 
                        <div class="a-input u-margin-top-lg">
                            <div class="a-input__field-holder">
                                <input type="text"  placeholder="Enter your Password">
                            </div>
                        </div> 
                        
                        <button class="a-button a-button--secondary a-button--full u-margin-top-lg">
                            <span>Log in</span>
                        </button>  

                </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            

    </div>
{% include "partials/footer.njk" %}
{% include "pages/_includes/_html_footer.njk" %}