{% set htmlParams = {
  'isStyleguide' : true,
  'bodyClass': '',
  'rootPath' : '',
  'pageName' : 'User Form'
} %}
{% set sassPaths = {
  utils: '/sass/base/utils/',
  quarks: '/sass/base/_quarks/',
  atoms: '/sass/base/atoms/',
  molecules: '/sass/base/molecules/',
  organisms: '/sass/base/organisms/',
  vendor: '/vendor/'
} %}

{% include "pages/_includes/_html_head.njk" %}
  {% include "partials/header.njk" %}
    <div class="u-main  u-main__form">
    <div class="u-container u-section">
    <div class="u-container__form">
                        <div class="u-header__title">
                            <h1>Register<span class="u-text-yellow">.</span></h1>
                        </div>

                        <section>
                            <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Email address</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Email address">
                            </div>
                        </div> 
                            <div class="a-input u-margin-top-lg">
                                <label class="a-input__label" for="input-text">Username</label>
                                <div class="a-input__field-holder">
                                    <input type="text" placeholder="Enter your Username">
                                </div>
                            </div> 
                            <div class="a-input u-margin-top-lg">
                                <label class="a-input__label" for="input-text">Password</label>
                                <div class="a-input__field-holder">
                                    <input type="text" placeholder="Enter your Password">
                                </div>
                            </div> 
                            <div class="a-input u-margin-top-lg">
                                <label class="a-input__label" for="input-text">Confirm password</label>
                                <div class="a-input__field-holder">
                                    <input type="text" placeholder="Enter your Username">
                                </div>
                            </div> 
                        </section>
 
                        <section>
                            <h1>Personal<span class="u-text-yellow">.</span></h1>
                            <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">First Name</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your First Name">
                            </div>
                        </div> 
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Last Name</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Last Name">
                            </div>
                        </div> 
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Password</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Password">
                            </div>
                        </div> 
                        </section>

                        
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Password</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Password">
                            </div>
                        </div> 
                        
                        <button class="a-button a-button--secondary a-button--full u-margin-top-lg">
                            <span>Complete registration</span>
                        </button>  
        </div>
    </div>
        
    </div>
{% include "partials/footer.njk" %}
{% include "pages/_includes/_html_footer.njk" %}