// -------------------------------------------------------------------
// :: STYLEGUIDE LAYOUT
// -------------------------------------------------------------------

body.styleguide {
	overflow-x: hidden;

	background-color: $white;
}

.styleguide__index {
	padding: 2em 0;

	.container {
		max-width: 1140px;
		width: 90%;
		margin: 0 auto;
	}

	article:not(:last-child) {
		margin-bottom: 3em;
	}
}

.styleguide__container {
	position: relative;
	padding: 0 0 7%;
	text-align: center;

	main {
		@include at($screen-sm) {
			max-width: 65em;
			width: 80%;
		}

		width: 90%;
		margin: 0 auto;
		text-align: left;
	}
}


// -------------------------------------------------------------------
// :: STYLEGUIDE SECTION
// -------------------------------------------------------------------

// Section title - used to
// indicate when new section starts (quarks, utilities, atoms, ...)

.styleguide__section-title {
	@include at($screen-sm) {
		font-size: 5em;
	}

	padding: 2em;
	text-align: center;
	background-color: $primary-color;
	color: $white;
	font-size: 2em;

	span {
		display: block;
		color: $white;
		font-size: 18px;
	}
}

// Title - used to
// name different components (Buttons, inputs)

.styleguide__title {
	padding-top: 2em;
	padding-bottom: 0.25em;

	font-size: 2em;

	+ small {
		opacity: 0.6;
	}
}

// Subtitle - used to
//

.styleguide__sub-title {
	margin-top: 1em;
	font-weight: bold;

	+ p.styleguide__p {
		margin-top: 0;
		margin-bottom: 1.5em;
	}
}

// Paragraph - used to
// add a description

p.styleguide__p {
	margin: 1.5em 0;
	font-size: 14px;
}

// List - used to
//

.styleguide__list li {
	padding-bottom: 4px;
	line-height: 20px;
}

// Info - used to
// emphasize additional info

.styleguide__info {
	display: block;
	margin: 2.5em auto 0.7em;
	color: $text-color;
	opacity: 0.5;
}

// Code - used to
// highlight code inline

.styleguide__code {
	background-color: $gray-xxlight;
	color: $text-color;
}

// Attention box - used to
// highlight important pieces of information

.styleguide__attention-box {
	padding: 18px;
	margin-top: 2em;

	background-color: $primary-color;
	color: $white;
}

// Highlight box - used to
// display code examples

.styleguide__highlight-box {
	position: relative;
	margin-top: 2em;
	overflow: hidden;
	border: 1px solid rgba($border-color, 0.1);
	border-top: none;

	a {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		min-width: 5.5rem;
		padding: 10px;
		background-color: $secondary-color;
		transition: background-color 0.2s ease-in;
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: bold;
		text-decoration: none;
		color: $white;

		&:hover {
			background-color: darken($secondary-color, 5%);
		}
	}

	code {
		display: block;
		padding: 22px 80px 22px 22px;
		background-color: $gray-xxlight;
		color: rgba($text-color, 0.5);
		line-height: 22px;
		transition: color 0.2s ease-in;
		background-image: repeating-linear-gradient(to top, transparent 0, transparent 21px, rgba($border-color, 0.1) 22px, rgba($border-color, 0.1) 22px);
	}

	.styleguide__info {
		margin: 0;
	}

	+ .styleguide__sub-title {
		padding-top: 4rem;
		margin-top: 3rem;
		border-top: 1px solid $border-color;
	}

	&.is-open {
		height: auto;

		code {
			color: $text-color;
		}
	}
}

// Spacers - used to
// wrap component and add space

.styleguide__spacer-top {
	margin-top: 1.5em;
}

.styleguide__spacer-bottom {
	margin-bottom: 1.5em;
}

.styleguide__spacer-horizontal {
	> * {
		margin: 0 0.5rem 0.5rem 0;
	}
}

.styleguide__spacer-vertical {
	> * {
		margin-bottom: 1.5rem;
	}
}

// Colors - used to
// list all colors

.styleguide__colors {
	@include clearfix;
	margin-bottom: 3em;

	+ .styleguide__colors {
		margin-top: 1.5em;
	}

	li {
		width: 24%;
		padding-top: 24%;
		margin: 1% 0.5%;

		float: left;
		box-shadow: 1px 1px 0.15em rgba($border-color, 0.3);
	}

	small {
		display: block;
		width: 100%;
		padding: 0.5em 0.9em;
		font-size: 0.9em;
		color: $gray-xdark;
		background: $gray-xxlight;
	}
}

// Icons - used to
// list all icons

.styleguide__icons {
	@include clearfix;

	li {
		width: 23%;
		height: 7rem;
		margin: 1em 1%;
		float: left;
		text-align: center;

		&:before {
			@include at($screen-sm){
				font-size: 3em;
			}

			display: inline-block;
			margin-bottom: 0.25em;
			font-size: 2.5em;
			color: $text-color;
		}
	}

	small {
		display: block;
		color: $text-color;
	}
}

// Logo - used to
// add space for logos

.styleguide__logo {
	margin-right: 1.5rem;
}

// Grid - used to
// style grid for display

.styleguide__grid-item {
	padding: 1rem;
	background: $gray-xxlight;
	box-shadow: inset 0 0 1px $text-color-light;
	margin-bottom: 25px;
}

// Tooltip - used to
// add space for tooltips

.styleguide__tooltips {
	> * {
		margin: 0 1.5em 1.5em 0;
	}
}

// Iframe - used to
// visualize the iframe

.styleguide__iframe {
	display: block;
	min-width: 100%;
	min-height: 500px;
	height: 100%;
	margin-bottom: 2em;
	border: none;
	overflow: auto;
	resize: both;
	outline: 3px dashed $border-color;
}

// Pages - used to
// sum up different templates

.styleguide__pages a {
	text-transform: capitalize;
}


// -------------------------------------------------------------------
// :: STICKY IN-PAGE NAVIGATION
// -------------------------------------------------------------------
// Using scrollNav.js - http://scrollnav.com

.js-scroll-nav {
	overflow-x: hidden;

	@include at($screen-sm) {
		padding-left: 20%;
	}
}

.scroll-nav {
	@include at($screen-sm) {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 9999;

		display: block;
		width: 20% !important;
		height: auto;

		background-color: transparent !important;
	}

	display: none;
}

.scroll-nav.fixed .scroll-nav__wrapper {
	@include at($screen-sm) {
		position: fixed;
		width: inherit;
		height: 100%;
		padding: 2em;
		background: $white;
		border-right: 1px solid $border-color;
		overflow-y: scroll;
	}
}

.scroll-nav ol {
	@include at($screen-sm) {
		padding: 0;
		margin-top: 0.25rem;

		font-size: 1em;
		list-style: none;
	}
}

.scroll-nav li {
	@include at($screen-sm) {
		padding: 0.25em 0;
	}
}

.scroll-nav a {
	@include at($screen-sm) {
		color: $text-color;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.scroll-nav .scroll-nav__item {
	padding: 0.5em 0;
}

.scroll-nav__item:first-child a.scroll-nav__link {
	@include at($screen-sm) {
		color: $primary-color;
	}
}

.scroll-nav__sub-list {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.in-view .scroll-nav__sub-list {
	@include at($screen-sm) {
		height: auto;
		opacity: 1;
		transition: opacity 400ms;
	}
}

a.scroll-nav__link {
	@include at($screen-sm) {
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.scroll-nav__sub-item.active .scroll-nav__sub-link {
	@include at($screen-sm) {
		color: $primary-color;
		text-decoration: none;
	}
}

.styleguide__list {
	letter-spacing: -0.28em;
	padding-left: 0;

	> * {
		letter-spacing: normal;
		display: inline-block;
	}
}
