<a href="#" class="m-block">
	<h3 class="m-block__title">Lorem Ipsum</h3>
	<p class="m-block__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur doloremque facere et dolor minus? Tenetur facilis quo soluta quas.</p>
	<p class="m-block__link a-link">
		<span>Lorem ipsum</span><span class="icon-arrow-forward"></span>
	</p>
</a>
