<div class="m-breadcrumb">
	<div class="m-breadcrumb__inner">
		<ul class="m-breadcrumb__list u-hidden-xs">
			<li class="m-breadcrumb__item">
				<a href="#">Link</a>
			</li>

			<li class="m-breadcrumb__item">
				<a href="#">Link</a>
			</li>

			<li class="m-breadcrumb__item">
				<a href="#">Link</a>
			</li>

			<li class="m-breadcrumb__item">
				Link
			</li>
		</ul>

		<a href="#" class="m-breadcrumb__link u-visible-xs">
			<span class="icon-arrow-left"></span><span>Link</span>
		</a>
	</div>
</div>
