<a href="#" class="m-card">
	<img class="m-card__image" src="http://placeholder.pics/svg/280x214/DEDEDE/000000-DEDEDE" alt="Card image">

	<div class="m-card__body">
		<div class="m-card__content">
			<small class="m-card__date">18/06/2018</small>
			<h3 class="m-card__title">Dapibus ullamcorper fermentum</h3>
			<p class="m-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales, lacus et sollicitudin bibendum.</p>
		</div>

		<p class="m-card__link a-link">
			<span>Lees meer</span><span class="icon-arrow-forward"></span>
		</p>
	</div>
</a>
