<div class="u-double-cta">
  <div class="u-container">
    <div class="u-row">
      <div class="u-col-xs-offset-3">
        <a class="a-button a-button__book">Create Book Clubsy</a>
      </div>
      <div class="u-col-xs-offset-3">
        <a class="a-button a-button__film">Create Film Clubsy</a>
      </div>
    </div>
  </div>
</div>