<footer class="o-footer">
	<div class="o-footer__inner u-container">
		<div class="u-row">
			<div class="first-row u-col-xs-11 u-col-md-7">
				<div class="u-row">
					<div class="u-col-xs-11 u-col-md-5">

						<ul class="a-list-inline">
							<li>
								<small><a href="">Facebook</a></small>
							</li>

							<li>
								<small><a href="">Twitter</a></small>
							</li>
							<li>
								<small><a href="">LinkedIn</a></small>
							</li>
						</ul>
					</div>

				</div>
			</div>

			<div class="second-row u-col-xs-10 u-col-md-5">
				<div class="o-footer__column">
					<ul class="a-list">
						<li>
							<small><a href="">Home</a></small>
						</li>
						<li>
							<small><a href="">Contact</a></small>
						</li>
						<li>
							<small><a href="">About us</a></small>
						</li>
						<li>
							<small><a href="">Login</a></small>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</footer>
