<header class="o-header">
	<div class="o-header__inner">
		<div class="o-header__bar">
			<a href="/home.html" class="o-header__logo">
				{% include "partials/logo.njk" %}
			</a>

			<div class="o-header__navigation u-hidden-xs u-hidden-sm u-hidden-md">
				{% include "partials/navigation.njk" %}
			</div>

			<div class="o-header__actions u-hidden-lg u-hidden-xl">
				{% include "partials/hamburger.njk" %}
			</div>
		</div>

		<div class="o-header__menu js-menu-flyout u-hidden-lg u-hidden-xl">
			{% include "partials/menu.njk" %}
		</div>
	</div>
</header>
