    
    <div class="o-hero o-hero--centered has-breadcrumb">
	<div class="o-hero__inner">
		<div class="o-hero__image" style="background-image: url('{{ htmlParams.rootPath }}img/hero/hero_7.jpg');"></div>

		<div class="o-hero__container u-container">
			<div class="o-hero__content">
				    <div class="u-container__form">
                        <div class="u-header__title">
                            <h1>Log in<span class="u-text-yellow">.</span></h1>
                        </div>
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Username</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Username">
                            </div>
                        </div> 
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Password</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Password">
                            </div>
                        </div> 
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Username</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Username">
                            </div>
                        </div> 
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Password</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Password">
                            </div>
                        </div> 
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Username</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Username">
                            </div>
                        </div> 
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Password</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Password">
                            </div>
                        </div> 
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Username</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Username">
                            </div>
                        </div> 
                        <div class="a-input u-margin-top-lg">
                            <label class="a-input__label" for="input-text">Password</label>
                            <div class="a-input__field-holder">
                                <input type="text" placeholder="Enter your Password">
                            </div>
                        </div> 
                        
                        <button class="a-button a-button--secondary a-button--full u-margin-top-lg">
                            <span>Log in</span>
                        </button>  

                    </div>
			</div>
		</div>
	</div>
</div>

