<div class="o-hero o-hero--centered has-breadcrumb">
	<div class="o-hero__inner">
		<div class="o-hero__image" style="background-image: url('{{ htmlParams.rootPath }}img/hero/hero_7.jpg');"></div>

		<div class="o-hero__container u-container">
			<div class="o-hero__content">
				{% include "partials/introduction.njk" %}
			</div>
		</div>
		<span class="icon-arrow-down"></span>
	</div>
</div>
