<div class="o-hero">
  <div class="hero-full">
    <div class="o-hero__inner">
      <div class="o-hero__image" style="background-image: url('{{ htmlParams.rootPath }}img/hero/hero.jpg');"></div>
    </div>
  </div>
</div>
