<div class="u-introduction">
  <div class="u-container">
    <div class="u-row">
      <div class="u-col-xs-9 u-col-sm-6 u-col-md-4">
        <h1>Choose your own ideas<span class="u-text-yellow">.</span></h1>
        <p class="u-margin-top-lg">With clubsy. you can join your friends and review al your favorite books and films with your friends</p>
        <div class="u-introduction--cta">
          <a href="" class="a-button">Join Now</a>
        </div>
      </div>
    </div>
  </div>
</div>