<div class="a-alert a-alert--info">
	<div class="a-alert__inner u-container">
		<p>Aenean in felis id ex mattis commodo. Morbi imperdiet mi est, in ultrices metus condimentum.</p>
	</div>
</div>

<div class="a-map a-map--lg">
	<iframe class="a-map__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2503.152874308088!2d4.442188115617619!3d51.1425319451359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3f085de4003a5%3A0xc3a0e46833c7c788!2sN171%2C+2550+Kontich!5e0!3m2!1snl!2sbe!4v1510930270308" frameborder="0" allowfullscreen></iframe>
</div>
