<nav class="m-navigation">
	<ul class="m-navigation__nav">
		<li class="m-navigation__nav-item is-active">
			<a href="#">
				<span>Explore</span>
			</a>
		</li>

		<li class="m-navigation__nav-item">
			<a href="#">
				<span>Categories</span>
			</a>
		</li>
		<li class="m-navigation__nav-item">
			<a href="/user_form.html">
				<span>Login</span>
			</a>
		</li>
	</ul>
</nav>
