<div class="a-text-with-visual">
	<div class="a-text-with-visual__text">
		<p>Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod.</p>
	</div>

	<div class="a-text-with-visual__background-image">
		<div style="background-image: url('{{ htmlParams.rootPath }}img/hero/hero.jpg');"></div>
	</div>
</div>
