// -------------------------------------------------------------------
// :: HAMBURGER
// -------------------------------------------------------------------

.a-hamburger {
	position: relative;

	width: rem(55px);
	height: rem(55px);

	margin: 0;
	padding: 0;

	background-color: $white;
	border: none;

	transition-duration: $animation-duration;
	transition-property: color, background;
	transition-timing-function: $animation-easing;

	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;

		background-color: $background-color;

		.a-hamburger__bar {
			background-color: $primary-color;
		}
	}
}


// -------------------------------------------------------------------
// :: HAMBURGER ELEMENTS
// -------------------------------------------------------------------

.a-hamburger__bar {
	display: block;

	background-color: $gray;

	transition-duration: $animation-duration / 2;
	transition-property: width, height, background-color;
	transition-timing-function: $animation-easing;
}

.a-hamburger__bars,
.a-hamburger__cross {
	position: absolute;
	top: 0;

	height: 100%;
	width: 100%;
}

.a-hamburger__bars .a-hamburger__bar {
	position: relative;

	height: rem(3px);

	&:nth-child(1) {
		top: 19.5px;
		left: 22.5px;

		width: rem(15px);

		transition-delay: $animation-duration / 2;
	}

	&:nth-child(2) {
		top: 23.5px;
		left: 27.5px;

		width: rem(10px);

		transition-delay: $animation-duration * 0.75;
	}

	&:nth-child(3) {
		top: 27.5px;
		left: 17.5px;

		width: rem(20px);

		transition-delay: $animation-duration;
	}
}

.a-hamburger__cross {
	transform: rotate(45deg);

	.a-hamburger__bar {

		&:nth-child(1) {
			position: absolute;
			top: 16.5px;
			left: 26px;

			width: rem(3px);
			height: 0%;

			transition-delay: 0s;
		}

		&:nth-child(2) {
			position: absolute;
			top: 26px;
			left: 16.5px;

			width: 0%;
			height: rem(3px);

			transition-delay: $animation-duration / 4;
		}
	}
}


// -------------------------------------------------------------------
// :: HAMBURGER MODIFIERS
// -------------------------------------------------------------------

.a-hamburger.is-active {

	.a-hamburger__bars .a-hamburger__bar {
		width: 0%;

		&:nth-child(1) {
			transition-delay: 0s;
		}

		&:nth-child(2) {
			transition-delay: $animation-duration / 4;
		}

		&:nth-child(3) {
			transition-delay: $animation-duration / 2;
		}
	}

	.a-hamburger__cross .a-hamburger__bar {

		&:nth-child(1) {
			height: 41%;

			transition-delay: $animation-duration;
		}

		&:nth-child(2) {
			width: 41%;

			transition-delay: $animation-duration * 0.75;
		}
	}
}
