// -------------------------------------------------------------------
// :: LABELS
// -------------------------------------------------------------------

.a-label {
	overflow: hidden;
	position: relative;

	padding: rem(4px) rem(10px);

	text-align: center;
	font-weight: $font-weight-bold;
	font-size: rem($font-size-xs);
	line-height: rem($line-height-xs);

	color: $text-color;
	background-color: $gray-light;
	border-radius: 22px;

	transition-duration: $animation-duration;
	transition-property: color, background;
	transition-timing-function: $animation-easing;

	@include at($screen-sm) {
		padding: rem(6px) rem(10px);

		border-radius: 26px;
	}
}

a.a-label {
	@extend %u-link-unstyled;

	&:hover,
	&:active,
	&:focus {
		color: $text-color;
		background-color: mix($gray-light, $black, 70%);
	}

	&.a-label--primary {

		&:hover,
		&:active,
		&:focus {
			color: $white;
			background-color: mix($primary-color, $black, 70%);
		}
	}

	&.a-label--secondary {

		&:hover,
		&:active,
		&:focus {
			color: $white;
			background-color: mix($secondary-color, $black, 70%);
		}
	}
}


// -------------------------------------------------------------------
// :: LABELS ELEMENTS
// -------------------------------------------------------------------

.a-label__button {
	position: absolute;
	top: 0;
	right: 0;

	width: rem(22px);
	height: rem(22px);

	margin: 0;
	padding: 0;

	background-color: transparent;
	border: none;
	border-radius: 22px;

	&:hover,
	&:focus,
	&:active {

		[class*="icon"] {
			opacity: 0.8;
		}
	}

	[class*="icon"] {
		position: absolute;
		top: 50%;
		left: 50%;

		font-size: rem(9px);

		color: $text-color;

		transform: translate(-50%, -50%);
		transition: opacity $animation-duration;

		opacity: 0.4;

		@include at($screen-sm) {
			font-size: rem(10px);
		}
	}

	@include at($screen-sm) {
		width: rem(26px);
		height: rem(26px);

		border-radius: 26px;
	}
}


// -------------------------------------------------------------------
// :: LABELS MODIFIERS
// -------------------------------------------------------------------

.a-label {

	&.a-label--primary {
		color: $white;
		background-color: $primary-color;
	}

	&.a-label--secondary {
		color: $white;
		background-color: $secondary-color;
	}

	&.a-label--with-button {
		padding-right: rem(22px);

		@include at($screen-sm) {
			padding-right: rem(26px);
		}
	}
}
