// -------------------------------------------------------------------
// :: LISTS
// -------------------------------------------------------------------
// By default lists are not included in base/_normalize.scss
// So each class extending the default (e.g. inline-list) must
// handle the reset in itself.


// -------------------------------------------------------------------
// :: INLINE LISTS
// -------------------------------------------------------------------
// There are 2 different strategies to implement inline-lists,
// each with their own specific quirks to deal with
//
// 1) Using float: left
// This method forces us to add a clearfix on the parent element
// and has no way of centering list-content without providing a
// fixed width and margin: auto to the parent element
//
// 2) Using display: inline-block
// This basically does the same, but includes the option of
// centering list-content - by adding text-align: center to
// the parent element
//
// However...
// - inline-block is not supported in <IE8
// - this method adds additional margins in un-minified markup
// - list-content always need to be wrapped in something (li)
//
// - http://theamazingweb.net/2013/06/24/fixing-display-inline-block
// - http://css-tricks.com/fighting-the-space-between-inline-block-elements
// - http://alistapart.com/article/taminglists

.a-list {
	@extend %u-list-unstyled;

	.a-list {
		margin-top: rem(5px);
		padding-left: rem(20px);

		> li:last-of-type {
			margin-bottom: rem(-5px);
		}
	}

	> li {
		padding: rem(5px) 0;
	}
}

.a-list-inline {
	@extend %u-list-unstyled;

	display: flex;

	> li {
		padding: rem(5px) 0;

		&:not(:last-child) {
			margin-right: rem(30px);
		}
	}
}


// -------------------------------------------------------------------
// :: LISTS MODIFIERS
// -------------------------------------------------------------------

.a-list.a-list--more-spacing {

	.a-list {
		margin-top: rem(7px);
		padding-left: rem(20px);

		@include at($screen-sm) {
			margin-top: rem(10px);
		}

		> li:last-of-type {
			margin-bottom: rem(-7px);

			@include at($screen-sm) {
				margin-bottom: rem(-10px);
			}
		}
	}

	> li {
		padding: rem(7px) 0;

		@include at($screen-sm) {
			padding: rem(10px) 0;
		}
	}
}

.a-list-inline.a-list-inline--separated > li {
	display: flex;
	align-items: center;

	&:not(:last-child) {
		margin-right: 0;

		&:after {
			content: "|";

			margin: 0 rem(12px);

			opacity: 0.6;
		}
	}
}

.a-list--white {

	li {
		color: $white;

		a {
			color: inherit;
		}
	}
}
