// -------------------------------------------------------------------
// :: MAP
// -------------------------------------------------------------------

.a-map {
	overflow: hidden;
	position: relative;

	width: 100%;
	height: rem(330px);
}


// -------------------------------------------------------------------
// :: MAP ELEMENTS
// -------------------------------------------------------------------

.a-map__iframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.a-map__info {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;

	width: 100%;

	z-index: layer("base");
}


// -------------------------------------------------------------------
// :: MAP MODIFIERS
// -------------------------------------------------------------------

.a-map.a-map--lg {
	height: initial;
	max-height: rem(760px);

	&:after {
		content: "";

		display: block;

		margin-top: 100%;
	}
}
