// -------------------------------------------------------------------
// :: PROGRESS BAR
// -------------------------------------------------------------------

.a-progress-bar {
	display: flex;
	justify-content: center;
}


// -------------------------------------------------------------------
// :: PROGRESS BAR ELEMENTS
// -------------------------------------------------------------------

.a-progress-bar__bar {
	width: 100%;
	max-width: rem(85px);
	height: rem(10px);

	background-color: $gray-light;

	&:not(:last-child) {
		margin-right: rem(3px);
	}

	&:first-child {
		border-radius: 5px 0 0 5px;
	}

	&:last-child {
		border-radius: 0 5px 5px 0;
	}
}


// -------------------------------------------------------------------
// :: PROGRESS BAR MODIFIERS
// -------------------------------------------------------------------

.a-progress-bar__bar.is-active {
	background-color: $primary-color;
}
