// -------------------------------------------------------------------
// :: TEXT WITH VISUAL
// -------------------------------------------------------------------

.a-text-with-visual {
	border-top: 1px solid $white;
	color: $black;

	
	margin-bottom: 50px;
	
	@include at($screen-xs) {
		display: flex;
		justify-content: space-between;
	}

	> [class*="a-text-with-visual__"]:first-child {

		@include to($screen-xs) {
			margin-bottom: rem(20px);
		}
	}
}

// -------------------------------------------------------------------
// :: TEXT WITH VISUAL ELEMENTS
// -------------------------------------------------------------------

.a-text-with-visual__image,
.a-text-with-visual__background-image,
.a-text-with-visual__text {

	@include at($screen-xs) {
		width: calc((100% - 1px) / 2 - #{$spacer / 2});
	}
}

.a-text-with-visual__background-image {
	position: relative;

	height: rem(240px);

	@include at($screen-xs) {
		height: auto;
	}

	div:not(.a-image) {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

.a-text-with-visual__text {
	padding: 20px;
}

.a-text-with-visual__background-image {
	img {
		border-radius: 30px;
		border: 5px solid $black;
	}
}

.a-text-with-visual__image {
	img {
		height: 500px;
		width: 100%;
		object-fit: contain;
	}
}