// -------------------------------------------------------------------
// :: TOGGLE
// -------------------------------------------------------------------

.a-toggle {
	display: inline-block;
}


// -------------------------------------------------------------------
// :: TOGGLE ELEMENTS
// -------------------------------------------------------------------

.a-toggle__inner {
	@include clearfix;

	display: flex;

	height: rem(36px);

	background-color: $gray-xxlight;

	@include at($screen-sm) {
		height: rem(45px);
	}
}

.a-toggle__field {
	flex-grow: 1;

	.is-active .a-toggle__label {
		color: $black;
		background-color: $white;
	}
}

.a-toggle__label {
	display: inline-block;

	width: 100%;
	height: rem(36px);

	padding: 0 rem(15px);

	text-align: center;
	font-size: rem($font-size-sm);
	line-height: rem(36px);

	color: $text-color-light;
	border: $border-width solid $border-color-dark;

	transition-duration: $animation-duration;
	transition-property: color, background-color, border;
	transition-timing-function: $animation-easing;

	cursor: pointer;

	@include at($screen-sm) {
		height: rem(45px);

		padding: 0 rem(20px);

		font-size: rem($font-size);
		line-height: rem(45px);
	}

	&:hover,
	&:focus,
	&.is-active {
		color: $black;
		background-color: $white;
		border-color: $border-color-xdark;
	}
}
