// -------------------------------------------------------------------
// :: VIDEO
// -------------------------------------------------------------------

video {
	width: 100%;
	height: auto;

	object-fit: cover;
}

.a-video {
	width: 100%;
	height: 100%;

	margin: 0 auto;
}


// -------------------------------------------------------------------
// :: VIDEO ELEMENTS
// -------------------------------------------------------------------

.a-video__inner {
	position: relative;

	padding-bottom: 56.25%;

	iframe,
	video {
		position: absolute;

		width: 100%;
		height: 100%;
	}

	video {
		object-fit: contain;
	}
}
