// -------------------------------------------------------------------
// :: ICON FONT
// -------------------------------------------------------------------

@include get-font("icons", "../fonts/icons/icons");

%icon {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	vertical-align: middle;
	line-height: 1;
	speak: none;

	// Improve font-rendering
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


// -------------------------------------------------------------------
// :: ICON NAMES
// -------------------------------------------------------------------

@import "_icon-names";


// -------------------------------------------------------------------
// :: ICONS MODIFIERS
// -------------------------------------------------------------------

[class*="icon-"].a-icon {
	font-size: rem($icon-size);
}
