// -------------------------------------------------------------------
// :: TYPOGRAPHY
// -------------------------------------------------------------------
// - https://github.com/railsware/applepie
// - http://www.google.com/design/spec/style/typography.html
// - http://typecast.com/blog/a-more-modern-scale-for-web-typography
// - http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights
// - http://modularscale.com


// -------------------------------------------------------------------
// :: FONTS
// -------------------------------------------------------------------

@include get-font("Museo Sans", "../fonts/museo-sans/MuseoSans-100", $font-weight-light, normal);

@include get-font("Museo Sans", "../fonts/museo-sans/MuseoSans-300", $font-weight-normal, normal);
@include get-font("Museo Sans", "../fonts/museo-sans/MuseoSans-300Italic", $font-weight-normal, italic);

@include get-font("Museo Sans", "../fonts/museo-sans/MuseoSans-500", $font-weight-medium, normal);

@include get-font("Museo Sans", "../fonts/museo-sans/MuseoSans-700", $font-weight-bold, normal);

@include get-font("Museo Sans", "../fonts/museo-sans/MuseoSans-900", $font-weight-heavy, normal);


// -------------------------------------------------------------------
// :: BASE
// -------------------------------------------------------------------

html {
	font-size: rem(16px);
	font-smoothing: antialiased; // sass-lint:disable-line no-misspelled-properties
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: $primary-font-family;
	font-weight: $font-weight-normal;
	font-size: rem($font-size-sm);
	line-height: rem($line-height-sm);

	color: $text-color;

	@include at($screen-sm) {
		font-size: rem($font-size);
		line-height: rem($line-height);
	}
}


// -------------------------------------------------------------------
// :: NORMALIZE
// -------------------------------------------------------------------
// If a margin/padding is set somewhere, remove it from below
// Keep it DRY and prevent overwrites

h1,
h2,
h3,
h4,
p,
h5,
h6,
ul,
ol,
body {
	margin: 0;
}

strong {
	font-weight: $font-weight-bold;
}

small {
	display: inline-block;
}


// -------------------------------------------------------------------
// :: BLOCK ELEMENTS
// -------------------------------------------------------------------

h1,
.h1 {
	font-weight: $font-weight-heavy;
	font-size: rem($font-size-h3);
	line-height: rem($line-height-h3);

	@include at($screen-sm) {
		font-size: rem($font-size-h1);
		line-height: rem($line-height-h1);
	}
}

h2,
.h2 {
	font-weight: $font-weight-light;
	font-size: 35px;
	line-height: 40px;

	@include at($screen-sm) {
		font-size: rem($font-size-h2);
		line-height: rem($line-height-h2);
	}
}

h3,
.h3 {
	font-weight: $font-weight-bold;
	font-size: rem($font-size);
	line-height: rem($line-height);

	@include at($screen-sm) {
		font-size: rem($font-size-h3);
		line-height: rem($line-height-h3);
	}
}

h4,
.h4 {
	font-weight: $font-weight-heavy;
	font-size: rem($font-size-h5);
	line-height: rem($line-height-h5);

	@include at($screen-sm) {
		font-size: rem($font-size-h4);
		line-height: rem($line-height-h4);
	}
}

h5,
.h5 {
	font-weight: $font-weight-medium;
	font-size: rem($font-size-h6);
	line-height: rem($line-height-h6);

	@include at($screen-sm) {
		font-size: rem($font-size-h5);
		line-height: rem($line-height-h5);
	}
}

h6,
.h6 {
	font-weight: $font-weight-bold;
	font-size: rem($font-size-h6);
	line-height: rem($line-height-h6);
}

p {
	font-weight: $font-weight-normal;
	font-size: rem($font-size-sm);
	line-height: rem($line-height-sm);

	@include at($screen-sm) {
		font-size: rem($font-size);
		line-height: rem($line-height);
	}
}

small,
cite {
	font-weight: $font-weight-normal;
	font-size: rem($font-size-sm);
	line-height: rem($line-height-sm);

	color: $white;
}


// -------------------------------------------------------------------
// :: HYPERLINKS
// -------------------------------------------------------------------

a,
.is-hyperlink {
	text-decoration: none;

	color: $black;
	background: transparent;

	transition-duration: $animation-duration;
	transition-property: color, opacity;
	transition-timing-function: $animation-easing;
}

.is-hyperlink {
	cursor: pointer;
}

a:hover,
a:active,
a:focus,
.is-hyperlink:hover,
.is-hyperlink:active,
.is-hyperlink:focus {
	text-decoration: none;

	color: $white;
}

a:hover,
a:active,
a:focus,
.is-hyperlink:hover,
.is-hyperlink:active,
.is-hyperlink:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

	a,
	.is-hyperlink {
		color: $white;
	}
}

a,
.is-hyperlink {

	&.is-inverted {
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}
}


// -------------------------------------------------------------------
// :: OTHERS
// -------------------------------------------------------------------

mark {
	background: $primary-color;
}

del {
	color: $text-color-light;
}

hr {
	margin: rem(40px) 0;

	border: none;
	border-top: $border-width solid $border-color;

	box-sizing: content-box;
}

.website_title {
	position: absolute;
	color: $white;
	font-size: 80px;
	z-index: 999;
	text-align: center;
	left: 0;
	right: 0;
	top:370px;
	margin: auto;
}


