// -------------------------------------------------------------------
// :: FIELDSET
// -------------------------------------------------------------------

fieldset {
	position: relative;

	min-width: 0;

	margin: 0;
	padding: 0;

	border: none;

	+ fieldset {
		margin-top: rem(30px);

		@include at($screen-xs) {
			margin-top: rem(50px);
		}

		@include at($screen-sm) {
			margin-top: rem(70px);
		}
	}
}
