// -------------------------------------------------------------------
// :: FEEDBACK STATES
// -------------------------------------------------------------------
// There are 4 possible feedback states: error, success, warning and
// information. These should be styled based on the UI-kit colors

.a-input.is-error,
.a-input.is-success {

	&:not(.has-add-on) .a-input__field-holder:before {
		position: absolute;
		top: rem(-12px);
		right: rem(-12px);

		width: rem(24px);
		height: rem(24px);

		padding: rem(6px) 0;

		text-align: center;

		color: $white;
		border: $border-width solid transparent;
		border-radius: 50%;
	}

	&.has-add-on .a-input__field-holder {

		.a-input__add-on {

			&:before {
				position: absolute;
				top: rem(-12px);
				right: rem(-12px);

				width: rem(24px);
				height: rem(24px);

				padding: rem(6px) 0;

				text-align: center;

				color: $white;
				border: $border-width solid transparent;
				border-radius: 50%;
			}
		}

		input + .a-input__add-on {
			position: relative;

			&:before {
				right: auto;
				left: rem(-12px);
			}
		}
	}
}

.a-input.is-error {

	select,
	textarea,
	input:not([class*='a-button'], [type='checkbox'], [type='radio']) {
		border-color: $state-error;

		&:focus {
			border-color: darken($state-error, 10%);
		}
	}

	&:not(.has-add-on) .a-input__field-holder,
	&.has-add-on .a-input__field-holder .a-input__add-on {
		@extend .icon-close; // sass-lint:disable-line placeholder-in-extend

		&:before {
			font-size: rem(10px);

			background-color: $state-error;
		}
	}
}

.a-input.is-success {

	select,
	textarea,
	input:not([class*='a-button'], [type='checkbox'], [type='radio']) {
		border-color: $state-success;

		&:focus {
			border-color: darken($state-success, 10%);
		}
	}

	&:not(.has-add-on) .a-input__field-holder,
	&.has-add-on .a-input__field-holder .a-input__add-on {
		@extend .icon-checkmark; // sass-lint:disable-line placeholder-in-extend

		&:before {
			font-size: rem($font-size-xs);

			background-color: $state-success;
		}
	}
}

.a-input.is-required > .a-input__label:after {
	content: "*";

	margin-left: rem(3px);

	color: $state-error;
}
