// -------------------------------------------------------------------
// :: INPUT
// -------------------------------------------------------------------
// Every input should have a label with corresponding for-, id- and
// name-attributes. Labels are always placed before inputs, nesting
// is not allowed (except for checkboxes and radio"s)

%__input {
	min-height: rem(36px);

	padding: rem(7px) rem(20px);

	background-color: transparent;
	color: $black;
	border: $border-width solid $border-color;
	border-radius: $border-radius;
	box-shadow: none;

	transition-duration: $animation-duration;
	transition-property: border;
	transition-timing-function: $animation-easing;

	@include at($screen-xs) {
		min-height: rem(45px);

		padding: rem(20px) rem(20px);
	}

	@include input-placeholder {
		font-weight: $font-weight-normal;

		color: $white;
	}
}

input::placeholder {
	color: $white;
}

.a-input select,
.a-input textarea,
.a-input input:not([class*="a-button"], [type="checkbox"], [type="radio"]) {
	@extend %__input;
}

.a-input select,
.a-input textarea,
.a-input input:not([class*="a-button"], [type="checkbox"], [type="radio"]) {
	width: 100%;
}

.a-input select:focus,
.a-input textarea:focus,
.a-input input:not([class*="a-button"], [type="checkbox"], [type="radio"]):focus {
	border-color: $gray-dark;
}

.a-input select[disabled],
.a-input textarea[disabled],
.a-input input:not([class*="a-button"], [type="checkbox"], [type="radio"])[disabled] {
	background-color: $gray-xxlight;
}

.a-input textarea {
	min-height: rem(110px);

	padding: rem(10px) rem(20px);

	resize: none;
}


// -------------------------------------------------------------------
// :: INPUT ELEMENTS
// -------------------------------------------------------------------

.a-input__label {
	display: block;

	margin-bottom: rem(3px);

	font-weight: $font-weight-medium;

	small {
		margin-left: rem(3px);
	}

	+ .a-input__description {
		margin-bottom: rem(5px);
	}
}

.a-input__field-holder {
	@include clearfix;

	position: relative;

	+ .a-input__description {
		margin-top: rem(5px);
	}
}

.a-input__description {
	display: block;

	font-weight: $font-weight-light;

	color: $text-color;
}

.a-input__add-on {
	display: block;

	font-size: rem($font-size-sm);

	padding: 0 rem(12px);
}

.a-input__link {
	display: block;

	margin-top: rem(15px);
}


// -------------------------------------------------------------------
// :: INPUT EXTENTIONS
// -------------------------------------------------------------------

.a-input.has-icon {

	select,
	input:not([class*="a-button"], [type="checkbox"], [type="radio"]) {
		padding-right: rem(45px);

		+ [class*="icon"] {
			position: absolute;
			right: rem(15px);
			top: 50%;

			text-align: center;

			color: $text-color-xlight;

			user-select: none;
			pointer-events: none;

			transform: translateY(-50%);
		}
	}
}

.a-input.has-button {

	select,
	input:not([class*="a-button"], [type="checkbox"], [type="radio"]) {
		padding-right: rem(50px);

		@include at($screen-xs) {
			padding-right: rem(60px);
		}

		+ [class*="a-button"] {
			position: absolute;
			right: 0;
			top: 0;

			width: rem(36px);
			height: rem(36px);

			@include at($screen-xs) {
				width: rem(45px);
				height: rem(45px);
			}

			[class*="icon"] {
				font-size: $icon-size-sm;
			}
		}
	}
}

.a-input.has-add-on .a-input__field-holder {
	display: table;

	width: 100%;

	border-collapse: separate;

	> * {
		display: table-cell;
		vertical-align: middle;
	}
}


// -------------------------------------------------------------------
// :: INPUT MODIFIERS
// -------------------------------------------------------------------

.a-input.a-input--gray {

	select,
	textarea,
	input:not([class*="a-button"], [type="checkbox"], [type="radio"]) {
		background-color: $background-color;
		border-color: transparent;

		@include input-placeholder {
			font-style: italic;
		}

		+ [class*="icon"] {
			color: $text-color;
		}
	}
}


