// -------------------------------------------------------------------
// :: UPLOAD
// -------------------------------------------------------------------

.a-input__multiple-upload [class*="a-button"] {
	width: 100%;

	@include at($screen-sm) {
		width: auto;
	}
}


// -------------------------------------------------------------------
// :: UPLOAD ELEMENTS
// -------------------------------------------------------------------

.a-input__multiple-upload__list {

	@include at($screen-sm) {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.a-button {

		@include at($screen-sm) {
			flex-shrink: 0;

			margin-left: $spacer;
		}
	}

	.a-input + .a-button {

		@include to($screen-sm) {
			margin-top: $spacer;
		}
	}

	+ .a-input__multiple-upload__input {
		margin-top: $spacer;
	}
}

.a-input__multiple-upload__input {
	position: relative;
	display: flex;
	align-items: center;

	input {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;

		width: 100%;

		opacity: 0;

		cursor: pointer;
	}
}
