.search {
  width: 50%;
  z-index: 999;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  margin: auto;

  input {
    color: #000!important;
    border: 1px solid #000000!important;
    background-color: transparent;
    font-size: $font-size-h3;
  }
  input::placeholder {
    color: #000;
  }
}