// -------------------------------------------------------------------
// :: UPLOAD
// -------------------------------------------------------------------

.a-input__upload {
	overflow: hidden;

	margin-top: rem(20px);
	margin-bottom: rem(-20px);

	@include at($screen-md) {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
}


// -------------------------------------------------------------------
// :: UPLOAD ELEMENTS
// -------------------------------------------------------------------

.a-input__upload__input {
	display: flex;
	align-items: center;

	margin-right: rem(20px);
	margin-bottom: rem(20px);

	input[type="file"] {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;

		width: 100%;

		opacity: 0;

		cursor: pointer;
	}

	[class*="a-button"] {
		flex-shrink: 0;

		margin-right: rem(15px);
	}
}

.a-input__upload__info {
	@extend %u-text-truncate;

	display: block;

	font-style: italic;
	color: $text-color-light;
}

.a-input__upload__button {
	margin-bottom: rem(20px);

	[class*="a-button"] {
		height: rem(36px);

		padding: 0;

		@include at($screen-sm) {
			height: rem(45px);
		}
	}

	input[type="submit"] {
		width: 100%;

		padding: rem(8px) rem(15px);

		@include at($screen-sm) {
			width: auto;

			padding: rem(10px) rem(20px);
		}
	}
}
