<h1 class="styleguide__title js-scroll-nav__sub-title">Form Elements</h1>
<small>{{ sassPaths.atoms }}form-elements/</small>

<h4 class="styleguide__sub-title">General principle</h4>
<p class="styleguide__p">
	Each input field should have a label and inform users about the kind of
	input they need to provide. This info-text switches functionality during
	the user flow: information becomes inline validation/immediate feedback.
	The tone of voice should be human and add personality to the experience/brand.
</p>

<!-- DEFAULT INPUTS //////////////////////////////////////// -->

{% include "atoms/form-elements/input.njk" %}

{% include "atoms/form-elements/textarea.njk" %}

{% include "atoms/form-elements/select.njk" %}

{% include "atoms/form-elements/radio-checkbox.njk" %}

{% include "atoms/form-elements/upload.njk" %}

{% include "atoms/form-elements/multiple-upload.njk" %}

{% include "atoms/form-elements/slider.njk" %}

{% include "atoms/form-elements/inline-validation.njk" %}

{% include "atoms/form-elements/fieldset.njk" %}
