<h1 class="styleguide__title js-scroll-nav__sub-title">Lists</h1>
<small>{{ sassPaths.atoms }}_lists.scss</small>

<h4 class="styleguide__sub-title">Implementation</h4>
<p class="styleguide__p">
	By default lists are not included in base/_normalize.scss.
	Each class extending the default (e.g. inline-list) must handle
	the reset in itself. Usually this means resetting the padding-left
	value and adjust the list-style property.
</p>

<ul>
	<li>Sed ut perspiciatis unde omnis</li>
	<li>Sed ut perspiciatis unde omnis</li>
	<li>Label for nested list items
		<ul>
			<li>Nested list items</li>
			<li>Nested list items</li>
			<li>Nested list items</li>
		</ul>
	</li>
</ul>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<ul>
			<li>Sed ut perspiciatis unde omnis</li>
			<li>Sed ut perspiciatis unde omnis</li>
			<li>Label for nested list items
				<ul>
					<li>Nested list items</li>
					<li>Nested list items</li>
					<li>Nested list items</li>
				</ul>
			</li>
		</ul>
	</code>
</div>

<hr>

<ol>
	<li>Sed ut perspiciatis unde omnis</li>
	<li>Sed ut perspiciatis unde omnis</li>
	<li>Label for nested list items
		<ul>
			<li>Nested list items</li>
			<li>Nested list items</li>
			<li>Nested list items</li>
		</ul>
	</li>
</ol>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<ol>
			<li>Sed ut perspiciatis unde omnis</li>
			<li>Sed ut perspiciatis unde omnis</li>
			<li>Label for nested list items
				<ul>
					<li>Nested list items</li>
					<li>Nested list items</li>
					<li>Nested list items</li>
				</ul>
			</li>
		</ol>
	</code>
</div>

<hr>

<ul class="a-list">
	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>
</ul>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<ul class="a-list">
			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>
		</ul>
	</code>
</div>

<hr>

<ul class="a-list a-list--more-spacing">
	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>
</ul>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<ul class="a-list a-list--more-spacing">
			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>
		</ul>
	</code>
</div>

<hr>

<ul class="a-list-inline">
	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>
</ul>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<ul class="a-list-inline">
			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>
		</ul>
	</code>
</div>

<hr>

<ul class="a-list-inline a-list-inline--separated">
	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>

	<li>
		<a href="#">Lorem Ipsum</a>
	</li>
</ul>

<div class="styleguide__highlight-box">
	<code class="js-encode-html">
		<ul class="a-list-inline a-list-inline--separated">
			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>

			<li>
				<a href="#">Lorem Ipsum</a>
			</li>
		</ul>
	</code>
</div>
