<h1 class="styleguide__title js-scroll-nav__title">{{ CONFIG.PROJECT_TITLE}} Styleguide</h1><br/>
<h5>version: {{ VERSION_INFO.VERSION}}</h5>
<p class="styleguide__p">
	Welcome to the {{PROJECT_TITLE}} styleguide – an internal guide &amp; code repository for designing
	and coding projects for {{PROJECT_TITLE}}. If you're new here, have a look through some of the topics
	on the left.
</p>
<br/>
<h5>USEFULL LINKS TO READ:</h5>
<br/>
<ul>
	<li>
		<a href="http://bradfrost.com/blog/post/atomic-web-design/">Atomic WebDesign</a>
	</li>
	<li>
		<a href="http://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/">BEMIT: Taking the BEM Naming Convention a Step Further</a>
	</li>
	<li>
		<a href="http://csswizardry.com/2016/05/the-importance-of-important/">The Importance of !important: Forcing Immutability in CSS</a>
	</li>
</ul>
